[2015-12-02 12:55] raisiqueira opened #1 "Gulp load Plugins"
why not use the gulp-load-plugins?

[2015-12-02 12:57] ahmadawais commented on #1
@raisiqueira Because I like to keep in control of the variable names. Instead of predicting them, It's easier to do declare the variables on your own. It also makes simple debugging easier.

[2015-12-02 12:57] #1 closed

[2015-12-02 12:59] ahmadawais commented on #1
@raisiqueira You should check https://github.com/ahmadawais/advanced-gulp-wordpress

Current repo is a Work In Progress!

[2016-01-19 04:50] josephfusco opened #2 "Just a fun suggestion. Add wapuu or WordPress logo to the notification."
Would look something like:
[code]
I guess it wouldn't really make sense since it would add a file. Although could probably serve up an icon from outside the repo. Although this is meant to be a boilerplate it would be pretty neat.

[2016-01-19 05:10] ahmadawais commented on #2
@josephfusco I'll take it under-advisement to see if anything could be done 👣:)

[2016-01-19 05:10] #2 closed

[2016-03-07 11:57] akmur opened #5 "Issue with reload"
Hei there, I'm having the following issue:

when I change a style, the change gets injected but also triggers a browser refresh.

Did you manage to get CSS injection working?

Cheers!

[2016-03-07 13:23] ahmadawais commented on #5
@akmur That is not an issue with WPGulp, you need to create one with BrowserSync. Sometimes, it injects CSS and sometimes it refreshes the page.

By default WPGulp is set to refresh and you need to set inject CSS true on this line https://github.com/ahmadawais/WPGulp/blob/master/gulpfile.js#L134

I hope you are doing that.

[2016-03-07 13:23] #5 closed

[2016-03-07 14:15] akmur commented on #5
Thanks for your answer, yes I'm doing that but browser sync doesn't want to behave :)

[2016-03-07 14:36] ahmadawais commented on #5
Yup :)

[2016-03-10 01:44] mischacolley opened #7 "images task not moving all optimised images to imagesDestination"
I've placed a bunch of images inside of `assets/img/raw` with the destination set to `assets/img/optimised`. Inside of raw there are some files inside of other directories. For some reason the task is completing but not all images are being copied into `assets/img/optimised`. Any ideas?

[2016-03-11 05:24] ahmadawais commented on #7
I am unable to automate it, which is why I documented that it only runs once and later you can run it via `gulp image` command. Kindly read the docs in the `gulpfile.js`.

https://github.com/ahmadawais/WPGulp/blob/master/gulpfile.js#L250-L251

[2016-03-11 05:24] #7 closed

[2016-03-14 22:10] mischacolley commented on #7
Thanks for the reply @ahmadawais. Yeah I had read your docs on running `gulp images` but still getting the same result with it not processing / moving all the raw images.

[2016-03-15 19:07] ahmadawais commented on #7
@mischacolley  Can you be more elaborate? So, that I could recreate the issue at my end?

[2016-03-18 12:32] ahmadawais commented on #5
Hey, I just committed an update and commented the media queries merge lines. These two lines were causing CSS to not reload

[code]

[2016-03-18 21:59] akmur commented on #5
Hello, I managed to get it working in the end, here is how I am doing it if you are interested, basically I am streaming into browsersync like you do, and my serve task is just doing that, serving. My reload issue was caused by watching sass maps.

https://github.com/akmur/WPGulp/blob/master/gulpfile.js

Thanks for your help

[2016-03-19 07:02] ahmadawais commented on #5
So, @akmur
This line solves the problem?
https://github.com/akmur/WPGulp/blob/master/gulpfile.js#L158

[2016-03-19 09:49] akmur commented on #5
Yes, that line solves the problem, I just have to start the server, then
the changes get streamed into BrowserSync.

One thing worth mentioning is to make sure that your watchers are not
watching for sass maps changes by mistake, as they would also trigger a
browser refresh right after style injection

On Sat, 19 Mar 2016 at 08:02 Ahmad Awais <notifications@github.com> wrote:

--
Alessandro Muraro

[2016-03-21 09:25] ahmadawais commented on #5
@akmur I got the idea and worked around a little. There were multiple instances where we could use the stream reloading.

Just pushed an update. Merge Media Queries, Line Endings and Inject CSS working fine now.

[2016-04-24 21:36] danieliser opened #8 "WP POT Support"
I love gulp, use it for my plugin builds, and just found this repo.

In Popup Maker and its extensions we use gulp-wp-pot to automatically scan and update a translation.pot file.

I believe I got a few tips from your first guide for our routines, but mine have a few more things I have added for extra awesomeness.

A few things you could merge here would be

POT Langpack creation - Watcher on **/*.

[2016-04-25 13:06] ahmadawais commented on #8
@danieliser Thanks for dropping by.

I have been thinking to update this repo, I have a lot more routines in my personal workflow as compared to this one. POT files is a definite feature. I plan to add it here. You are more than welcomed to submit a PR.

Build routines are not added because everyone deals with it in a different manner. I am planning to add a simple zip building routine in there. B

[2016-05-13 13:45] djmtype opened #9 "No sass sourcemap here either"
@ahmadawais As you recommended I try this repo with WPGulpTheme. I assumed because the gulpfile was more recent. Although, sass sourcemaps are being generated, they are not showing up inside Chrome devtools. A minified stylesheet is only being displayed. [Screenshot](https://cloudup.com/cfxJNpcifa9)

[2016-05-14 06:47] ahmadawais commented on #9
@djmtype Can you change the enqueued CSS with `style.css` instead of `style.min.css` And try again. Coz it works perfect at my end. Right now on mobile.

[2016-05-14 06:49] ahmadawais commented on #9
Just uncomment this line https://github.com/ahmadawais/WPGulpTheme/blob/master/functions.php#L144 and comment the line below it.

[2016-06-05 13:55] jabranr opened #11 "Use of JS reserve words"
`package` is a reserved word in JavaScript that might lead to unexpected errors/results.

Ref: https://github.com/ahmadawais/WPGulp/blob/master/gulpfile.js#L40

[2016-06-05 14:00] ahmadawais commented on #8
@danieliser POT file generation support is here.

[2016-06-05 14:00] #8 closed

[2016-06-05 14:00] #9 closed

[2016-06-05 14:27] #11 closed

[2016-06-06 20:08] danieliser commented on #8
Nice

[2016-07-29 15:58] joshlevinson opened #16 "Sourcemaps are written in nested directory"
Per the [documentation](https://www.npmjs.com/package/gulp-sourcemaps) of gulp-sourcemaps, when writing to an external sourcemap file, the path provided to `sourcemaps.write()` should be _relative_ to the path of the source file(s) destination.
The config of this project uses `styleDestination` for the `sourcemaps.write()` destination, meaning it gets nested within incorrectly created subdirectori

[2016-07-29 17:53] ahmadawais commented on #16
@joshlevinson What if the style destination is not the root folder? What then?

[2016-08-07 09:47] ahmadawais commented on #16
Still waiting for your response. Closing it down till then.

[2016-09-08 19:09] robmim opened #19 "Using Tunnel in the browser-synch function in gulpfile.js doesn't work"
How can i make the tunnel options working using Browser-synch ?

I saw you had the same problem here : https://github.com/BrowserSync/browser-sync/issues/978

The error i got is :

/Applications/MAMP/htdocs/CNM/wp-content/themes/cnm/node_modules/browser-sync/lib/browser-sync.js:665
    bs.io.sockets.emit("file:reload", data);
         ^

TypeError: Cannot read property 'sockets' of undefined
  at

[2016-09-10 05:59] imfaisalkh opened #20 "Watch commands taking too much time within Default task"
I'm using WPGulp build script as a base and I've noticed that when I run the `default` gulp task by running `gulp` command, each of the dependent task took time in a few milli seconds to finish  but still the `default` task is taking 4-8 minutes to finish, I tried commenting out `watch` commands within the `default` task and turns out these commands were causing all this delay.

How to resolve thi

[2016-09-11 23:15] ahmadawais commented on #20
@imfaisalkh I am not sure you understand the default behavior. The default task is not a build task. It builds everything and then it sits there to watch for any changes that you might make. While you are developing, this should be watching your files. Once you are done with dev you can press <kbd>CTRL</kbd> + <kbd>C</kbd> to quit this task.

[2016-09-11 23:15] #20 closed

[2016-09-11 23:17] ahmadawais commented on #19
Yes, this is not the issue with this script. It's BrowserSync where you should report it :) I think the dev is working on it for the next version.

[2016-09-11 23:17] #19 closed

[2016-09-11 23:18] ahmadawais commented on #16
Closing down the issue because of no response.

[2016-09-11 23:18] #16 closed

[2016-09-12 09:16] imfaisalkh commented on #20
I do understand the behaviour, perhaps I've not explained it clearly. The `default` task is taking too much time to "finish", here the word "finish" means when the console prints `Finished 'default' after 5.48 min`, after this it starts watching files and provide a preview URL.

This task do "watch" the files at the end, but it is taking too much time to get there. As mentioned earlier `projectPHP

[2016-09-13 04:57] ahmadawais commented on #20
@imfaisalkh Must be your slow computer than. It's pretty weird though. I will soon push an update.

[2016-09-14 17:04] imfaisalkh commented on #20
I've tried narrowing down the PHP file selection criteria, like this:

`var projectPHPWatchFiles    = ['./**/*.php', '!./.git/**/*', '!./.dist/**/*', '!./.vendors/**/*', '!./node_modules/**/*', '!./styles/**/*', '!./scripts/**/*', '!./languages/**/*', '!./images/**/*', '!./fonts/**/*']; // Path to all PHP files.`

Now, as per this criteria, there is almost 25-30 `php` files to watch in the theme f

[2016-09-14 20:41] ahmadawais commented on #20
Takes 1.4sec on my end with Macbook 16 GB RAM :)

[2016-09-17 12:57] imfaisalkh commented on #20
Just tested the script on another computer (core i5 3.3Ghz + 4 GB Ram), the `default` task took about 35sec, so apparently, it is the system specific issue. However, I'm not sure why the script is not using the idle CPU power on my laptop to improve the execution time. Nevertheless, it doesn't seem this script specific issue. Thanks for your help.

[2016-09-17 15:58] ahmadawais commented on #20
Glad I could help!

[2016-09-29 14:22] diegorochawebdg opened #22 "Watch task too slow on init"
Your gulpfile is awesome! Everything is running ok, but always when I run the task default, the watch task spend so much time to start (30s +- ).
There's some trick what can I do to speed up the watch task?
(Sorry about my poor english)

[2016-09-29 15:27] ahmadawais commented on #22
The watch task depends on what kind of OS and computer you are using. The specs of your computer play a vital role here.

I am sure you'll find the discussion here, in #20 quite effective in solving your issue.

[2016-09-29 15:27] #22 closed

[2016-09-29 15:31] commwork commented on #22
On my MacOS MBP it needs 2 seconds, on my windows 10 machine (which is normally faster) it needs 30 seconds. But it's no big deal for me.

[2016-09-30 14:46] ahmadawais commented on #22
You know how to customize it 👍 This is just a boilerplate :)

[2016-11-03 09:01] kevinmamaqi opened #23 "Use Clean CSS instead of UglifyCSS to keep first comment in style.min.css"
Hello,

I've checked the uflifycss npm package and I can't find an option like keepspecialcomments in order to keep the theme info at the top in style.min.css, maybe using CleanCSS (https://www.npmjs.com/package/clean-css) would be an alternative.

I'm asking because maybe there are more reasons to use UglifyCSS instead of CleanCSS that I don't know.

[2016-11-03 10:51] ahmadawais commented on #23
@kevinmamaqi to keep special comments just use `!`.

E.g. ```/*!```

[2016-11-03 10:51] #23 closed

[2016-11-03 10:53] ahmadawais commented on #23
@kevinmamaqi Clean CSS looks pretty good, I will see if we can port to it. Your PR is welcomed if you want to do that. I am also working on a major release of WPGulp in the first quarter of 2017. We will have a lot more automation and a WPGulp CLI.

[2016-11-06 18:04] retani opened #24 "Suggestion: Separate source and build directories"
Hi!

I have compared several gulp scripts and like this one best. However, it bothers me that it doesn't by default separate source and build directories. Have a look at this one which which has a build and a src folder: https://github.com/synapticism/wordpress-gulp-starter-kit

I think that it's much cleaner to have such a separation rather than having the gulpfile, node_modules, etc. in your the

[2016-11-11 10:00] ahmadawais commented on #24
@retani A major update is due to this workflow. I have on my localhost a WPGulp CLI which makes all the sense :) BTW you can have separate build folder, but I would not want that, I am still thinking about handling this one, what I am doing is I am creating a possibility to sum up different packages of your WP products into ZIPs. Production package, dev package, etc.

But having a dev theme separa

[2016-11-11 11:41] retani commented on #24
@ahmadawais WP-CLI sounds cool :) I think that both approaches make sense. I am not a regular theme developer, but I am working on a dedicated theme for just one site, so I have the site running in a vagrant box and wanted to keep the source files out of it. That keeps live and dev versions in line, enabling me to sync them with mordmove. It would also facilitate versioning with git for example. I

[2016-12-12 22:16] allaire opened #25 "Vendor files ordering"
Hi @ahmadawais ,

First thanks for this project!

Let say I want to control the order of how the vendors are loaded, is there a better way then prefixing the file I need to load first with something like `0_` ?

Bootstrap 4 relies on tether.js, so I need to load it first :)

[2016-12-13 14:35] allaire commented on #25
Found it:

[code]

[2016-12-14 16:00] #25 closed

[2016-12-14 18:25] fabianhenzler opened #26 "How can I make browser-sync serve https without loosing updatability of the repo?"
I need browser-sync to serve via https.
Can I just modify the gulpfile.js? Do you recommend updating wpgulp form time to time?

[2016-12-24 07:28] ahmadawais commented on #26
@fabianhenzler Yes, WPGulp will soon have a CLI so that updating it would be easy.
Yes, modify `gulpfile.js`.

[2016-12-24 07:28] #26 closed

[2017-03-03 12:01] AndreaBarghigiani opened #27 "[SOLVED] Unable to compile Sass subdirectories"
Hi Ahmad,
congrats for your hard work with this repo, I was looking to find a solution to implement BrowserSync and Gulp in my WordPress Theme Development workflow.

Thanks to your repo now I am able to solve that!

Anyway I have a little problem, I've created a `partials/` folder in my `scss/` folder (I've renamed from your `css/` to fit my needs) and I noticed that I am unable to let compile the

[2017-03-03 12:12] AndreaBarghigiani commented on #27
I've solved changing the path for `styleWatchFiles` from `./scss/**/*.scss` to `./scss/**/*`.

Don't know why this make any difference (because in that folder there are only `.scss` files but now it works ;)

Again congrats for your work, really impressed!

[2017-03-03 12:12] #27 closed

[2017-03-07 05:50] ahmadawais commented on #27
@AndreaBarghigiani Glad, you were able to work out a solution. `BrowserSync` has a history of weird problems but it is the least bad solution for doing what it does.

That's very kind of you to say! 💯

BTW. I have something interesting coming up for WPGulp pretty soon. If you'd like to be notified, subscribe to my WordPress newsletter called Takeaway http://AhmadAwais.com/subscribe/

[2017-03-17 20:09] fabianhenzler opened #28 "BrowserSync is constantly refrshing"
HI,

my browsersync is constantly refreshing and I can't figure out why. There is some HTML loaded via JS - could this be the issue?

Screencast: http://youtu.be/3wM1-Bui0Qs

[code]

[2017-03-20 06:59] ahmadawais commented on #28
@fabianhenzler I am not sure why it's doing that. I see that you have changed the `'browser-sync'` task. Revert it back to see what goes. Otherwise, you'll have to create an issue with BrowserSync folks.

[2017-03-23 16:38] leifniem opened #29 "Edit: it was jsut me being stupid"
Please close, it was just my stupidity causing an issue

Sorry :)

[2017-03-30 18:26] ahmadawais commented on #29
Sure!

[2017-03-30 18:26] #29 closed

[2017-03-30 18:27] #28 closed

[2017-04-17 23:10] JeremyEnglert opened #30 "Gulp 4 Rewrite"
Hi @ahmadawais, awesome project!

With Gulp 4 coming soon, is there any thoughts to incorporating those features into WPGulp? I'd love to get started on it, but don't want to duplicate work that already may be being worked on (I saw another note that you're working a a pretty large overhaul).

Let me know!

[2017-04-18 05:10] ahmadawais commented on #30
Hey, @JeremyEnglert
Yes, I have been looking into the series and parallel excutions feature, currently working on more automation to make it easy for users of WPGulp to customize the project. I think I will add them in the next major release.

To keep yourself up to date with WPGulp you can signup for the updates here → http://eepurl.com/cLwjeH

[2017-05-28 20:21] robmim opened #32 "Yeoman generator package - Enhancement"
Juste wanted to share the idea of implementing a yeoman generator project pack for WPGulp. Could be created with an empty http://underscores.me/ project or using Bedrock and/or Sage from Roots.io ???

PROS:
- Faster environment setup for development.
- Configurable options (theme and gulpfile.js) directly from yeoman generator.

[2017-06-09 20:50] slushman opened #34 "Update gulp-wp-pot destination"
The author of gulp-wp-pot update the project last week and it appears the destination now works differently. Instead of the being the path, like in the current line 309, it should be the output file. Line 309 should now be:

.pipe(gulp.dest(destFile))

[2017-06-20 10:44] klihelp commented on #30
@JeremyEnglert as I assume you update on your project which reflects this github update/issue will be marked/closed followed by a helpful notification. Gulp 4 already out.

[2017-06-20 11:08] #34 closed

[2017-06-26 18:16] jinsley8 opened #36 "Dependency updates"
Should any of the dependencies be updated in package.json? There are a couple in there.

Is there any advantage to doing that?

[2017-06-29 15:47] ahmadawais commented on #36
You could update them. I normally do that every three months. You'll have to test every feature to see if it didn't break anything. Wish I had time to write unit tests.

[2017-06-29 15:48] #36 closed

[2017-06-29 15:49] ahmadawais commented on #32
@robmim I had that and a few more things in my mind for a next major version. All of that will need a lot more time than I can set apart for at the moment. Feel free to jump right in. Contributors are most welcomed. I am already spending 50% of my time in Open Source and free software!

[2017-06-29 15:49] #30 closed

[2017-07-27 13:15] runnickrun opened #41 "Setting up Google Chrome workspace & sourcemaps?"
Hi,
for some reason I can't make sourcemaps to work with Chrome workspaces.

I've tried with style.min.css but obviously it didn't work, then I've tried with regular style.css but I still don't see SASS partials, only the style.css file. What should you map to what in workspace?

Hopefully it makes sense.

[2017-08-03 16:12] astrocycles opened #42 "browersync doens't load"
great work !

Maybe I missed something in the tutorial, but browsersync open a new window :  http://localhost:3000 and then loads forever. Any idea ?

thanks

[2017-08-03 20:13] shawnquinn commented on #42
Hey @astrocycles

When you run `$ gulp browser-sync` or `$ gulp` (by default), then browsersync will auto open a new window if your options are set to `open: true`.

To prevent it from auto opening a new window every time, just change `open: true` to `open: false`. You can find the browsersync options in your `gulpfile.js`

See below:

[code]

[2017-08-04 05:13] ahmadawais commented on #42
@astrocycles That's the default behavior. Did you read the up to date tutorial [here](https://github.com/ahmadawais/WPGulp).

@shawnquinn Thanks for the help with managing this FOSS project. I really can use all the help at the moment :)

[2017-08-04 14:53] astrocycles commented on #42
Hi,
Thanks for your reply. For development I need the browersync refresh.
I tried on both repos : WP gulp and this nice WP starter theme [https://github.com/ahmadawais/WPGulpTheme](url)

Please check this video to see browersync behaviour.
[https://youtu.be/HxzaACtRZAM](url)

Many thanks

[2017-08-04 15:49] ahmadawais commented on #42
WPGulp, this project is the only project that's up to date. So, you'll have to try it out. I can't be sure of your personal setup — but if you clean install it, this works perfectly!

[2017-08-05 11:39] astrocycles commented on #42
Hi,
I re-installed everything and used the WPgulp repo. Sorry It doesn't work for me.

[2017-08-08 15:33] marianrick commented on #42
@astrocycles I have got the same problem using AMPPS after a clean install using WPGulp. Are you using AMPPS for your local development server as well?

[2017-08-08 15:37] ahmadawais commented on #42
@astrocycles @marianrick
That looks like your local server problem.

Have you guys set up the [`projectURL`](https://github.com/ahmadawais/WPGulp/blob/master/gulpfile.js#L33) — coz that's what BrowserSync is trying to connect to.

[2017-08-08 15:51] marianrick commented on #42
@ahmadawais Yes, I have set it to something like `localhost:8888` as well as `fancydomains.dev` or similar ones.

To be honest I am confused about the setup of browser-sync. Wordpress needs a php and mysql server running, right? If so, do I have to run my local server with a working website (using AMPPS/MAMP/whatever) and afterwards run `$ gulp browser-sync` inside my themes root folder? Or do I o

[2017-08-08 16:05] ahmadawais commented on #42
Obviously, your server should be running. The browsersync part in WPGulp is only proxying it over your pre-running server that you need to run before you run WPGulp.

There you go. If your site is running at `localhost:8888` then `gulp` down there and it should work!

[2017-08-08 16:05] #42 closed

[2017-08-08 16:07] ahmadawais commented on #42
I'd recommend DesktopServer https://serverpress.com/get-desktopserver/

[2017-08-08 16:35] marianrick commented on #42
Ah, thanks a lot @ahmadawais. So the `projectUrl` has to be the same, as the already running Wordpress page. I thought browser-sync creates kind of its own server. Thanks for your suggestions and support! Although thanks for the serverpress.com suggestion.

[2017-08-08 16:53] ahmadawais commented on #42
@marianrick Anytime!
Browser sync can setup a server on its own, but it is mostly for the frontend stuff. Since WP is PHP based, BS allows for a proxy URL which is the project URL here. So, you need your site running before starting WPGulp.

Sure, thing! If you feel like that WPGulp helps you then you can [support](https://pay.paddle.com/checkout/515568) the project :)

Cheers!

[2017-08-09 08:13] astrocycles commented on #42
@marianrick   @ahmadawais
Hi,
Unfortunately I never managed to make this repo work for myself.
So what I did is used this one https://github.com/zellwk/gulp-starter-csstricks which is a starter kit added bootstrap in it with the nmp command.

This makes a nice dev environment without WP. Browsersync loads super fast . Then when you are happy with the html site, you can move your code to WP in sage

[2017-08-09 09:14] ahmadawais commented on #42
@astrocycles I'd appreciate if you'd not link to other gulp repos here, it will only confuse the users!

I have described the situation, above. You have to start your server before starting WPGulp. Did you do that?

[2017-08-09 09:22] astrocycles commented on #42
Yes I did.
Sorry If offended you, however  you withdrew my post It could have helped some people.
The goal is to make it work, I guess.

[2017-08-09 18:37] ahmadawais commented on #42
Did that work? If not, did you try with DesktopServer?

None was taken. I did that to not confuse people.

It works, pretty sure the issue is at your end.

[2017-08-10 08:17] astrocycles commented on #42
Hi,
I tried on Mamp and xamp with bitnami. The result is even worse on Mamp because it makes browsersync open the htdocs folder instead of opening the index.

I'm not sure what's wrong, but I can tell you that another Gulp repo is working. It loads the index file without any side server.

[2017-08-10 09:50] ahmadawais commented on #42
@astrocycles WPGulp is not a server! It proxies over your already running server. If it is openning htdocs then you have WPGulp placed in the wrong dir. It should placed in the root folder of the theme or plugin you are working in.

[2017-08-10 17:16] astrocycles commented on #42
Yes of course it is installed in the wp-content/theme/my-theme

The real issue is because you suggest to `sudo npm install`.
I had to re-install all my setup.

here is the solution https://gist.github.com/rcugut/c7abd2a425bb65da3c61d8341cd4b02d#never-run-npm-as-sudo-so-never-do-sudo-npm-install-

[2017-08-12 10:41] marianrick commented on #24
@ahmadawais is this still in progress? And is there a current state that could be improved or continued to be developed?

For certain reasons, I think the build different packages part is really important. While `/node_modules` and some other folders/files are ignored due to `.gitignore`, all these files are present in the themes folder.

I have used DesktopServer by Serverpress to deploy websites

[2017-08-26 11:05] khoipro opened #47 "Duplicate output CSS file."
I want to create these structures in my WP theme:

[code]

And tried to modify gulpfile.js as below:

[code]

However when output, it loads to assets/css/assets/css/main.min.css

Can you please check that kind of issue?

[2017-09-06 00:25] codeThaGlobe opened #49 "Not updating SCSS after default event"
**This is a great resource! Thank you for the clean and documented code!!!**

I have done the config and got it running. It builds fine when I run the default task, but does not rebuild or inject my styles when I save the .scss after that. No error, but no notification of task completion either.

<img width="831" alt="screen shot 2017-09-05 at 5 23 46 pm" src="https://user-images.githubusercontent

[2017-09-06 00:31] codeThaGlobe commented on #49
Of course as soon as I posted my issue I figured it out 🥇

`styleWatchFiles` has its own var

[2017-09-06 00:31] #49 closed

[2017-09-06 10:26] ahmadawais commented on #49
@codeThaGlobe Glad to know that.

P.S. Feel free to subscribe to my newsletter called WPTakeaway https://WPTakeaway.club/

[2017-09-16 19:11] Tolomeo opened #50 "Translation folder path"
Just to notify that 'translate' gulp task compiles the .pot file into the wrong folder because

[code]

should be

[code]

Thanks for the great job you've done

[2017-09-16 21:20] ahmadawais commented on #50
Thanks. I will look into that. I think the Pot plugin just got changed.

[2017-09-16 21:22] ahmadawais commented on #50
@Tolomeo Can you check if this PR is what you're talking about? #45

Review it for me? I am on mobile at the moment.

[2017-09-16 21:55] Tolomeo commented on #50
Yes, that's what I mean 👍

[2017-09-16 22:23] #50 closed

[2017-09-16 22:23] ahmadawais commented on #50
I just merged it :)

[2017-10-19 05:47] davision opened #53 "Support for ES6"
First of all, thank you for your amazing job! Everything just works out of the box with amazing performance. One thing I was considering having maybe is support for EcmaScript 6. Did you have this support in mind? Minifier now breaks, if you use new JS features and syntax.

[2017-10-19 10:25] ahmadawais commented on #53
Obviously, there is not support for ES6 in WPGulp right now, but that's what's coming in the next update before the end of this year hopefully. Unless you want to send a PR.

[2017-10-19 12:56] davision commented on #53
Great! Will try to do my best.

[2017-10-19 13:04] phra commented on #53
@davision @ahmadawais have a look at this [PR](https://github.com/ahmadawais/WPGulp/pull/54).

[2017-10-19 13:29] davision commented on #53
Now that was sweet! Thanks @phra!

[2017-10-19 13:49] ahmadawais commented on #53
@phra Thanks. I will look into it. I am also releasing basic ES6 support for WPGulp in a few hours :)

[2017-10-19 13:52] ahmadawais commented on #53
@davision Can you also mention the test case where ES6 breaks so that I can test it against the PR and what I am releasing?

[2017-10-20 13:55] davision commented on #53
Actually, your current setup breaks whenever you use an ES6 specific syntax, for example "let" declaration.

[2017-10-20 15:39] phra commented on #53
@davision @ahmadawais  can't you just check out if it's working with my patch?

[2017-10-22 17:17] davision commented on #53
Well, it works! I thought I was clear on that with my first reply :)

[2017-11-07 15:47] CarlosRGL opened #56 "Make a WPWebpack version like WPGulp"
because why not.

loving WPGulp BTW

[2017-11-08 08:58] ahmadawais commented on #56
@CarlosRGL Sshhh! Make sure you're subscribed to https://WPTakeaway.club/ something's coming soon.

Also feel free to support one hour of my open source work → https://pay.paddle.com/checkout/515568 (if it has helped you).

Cheers!

[2017-11-08 08:58] #56 closed

[2017-11-14 15:54] dingo-d commented on #53
All you need to do is to add `babel` to `package.json` and rename `gulpfile.js` to `gulpfile.babel.js`, and you can use ES6 in it :)

[2017-11-14 19:50] ahmadawais commented on #53
@dingo-d Seriously? I was looking into using the gulp-babel package.

Have you tested all the other packages? Do they work? PR's welcomed.

[2017-11-14 20:15] dingo-d commented on #53
I've done a mix of gulp and webpack on an os project I'm working on for the company I work for: https://github.com/infinum/json-wp-post-parser. Feel free to check it out.

If I'll manage some time I'll fork and try to rewrite it in ES6. I have one plugin that I need to put on wp.org so that's a priority atm :D

[2017-11-16 16:15] marianrick opened #58 "Newly added files not detected by browser-sync watch task"
A few times I thought browser-sync was broken or not configured the correct way, as newly added files will not be recognized in the watch folders.

For example I add `_global.scss` as file, import it in `/scss/style.scss`:

- when I click save inside `style.scss`, the import runs and everything seems to be fine
- when I click save inside `_global.scss` nothing happens

After stopping and running t

[2017-11-17 09:01] ahmadawais commented on #58
Same here. You have to stop and run again as the main sass file is being used here and it needs to be reloaded, I have not get enough time to look into that for now, but if you want to make WPGulp better on this front, I'll def welcome your PR.

[2017-11-17 09:01] ahmadawais commented on #32
Closing it for now, feel free to send in a PR.

[2017-11-17 09:01] #32 closed

[2017-11-21 08:45] marianrick commented on #58
I have tried to write it on my own, but this was not working 100% and seemed to be rather hacky. Maybe there is some other person able to implement it in a more professional way in here?

The solution seemed to be to use `browserSync.watch()` instead of `gulp.watch()`, based on [this stack answer](https://stackoverflow.com/a/32988499/2113599)

[2017-12-13 00:04] bdadev opened #60 "Server running"
Sorry for the question but do I need to have MAMP running?

I'm trying to run my project but to no avail.

Thank you!

[2017-12-13 00:05] dmhendricks commented on #60
You do not have to have a web server/MAMP running to use WPGulp.

What is happening and/or what sort of errors are you getting? What operating system are you running it on?

[2017-12-13 00:22] dmhendricks commented on #24
@retani -

For the "collaborators" that stubbornly refuse to use SASS, I:

1. Put a file in my compiled dir named `.DO_NOT_EDIT.txt` which contains brief instructions/reasoning.
2. I usually let those who are sane use the SASS files, and for those who prefer clutter, inefficiency and stepping on each others toes, I just tell them to only modify the `style.css` file in the theme dir (assuming that

[2017-12-13 13:50] bdadev commented on #60
It does not display error messages in the console or in git bash, including the messages of the tasks that were executes are displayed in the browser that by the way I found sensational.

But I stayed until 2:00 AM analyzing until I decided to configure the port of the browser sync for 8080 running the MAMP server, just so I was able to run and gave everything cetto friend.

Until then I used the

[2017-12-13 13:50] #60 closed

[2017-12-13 17:43] ahmadawais commented on #60
Oh glad you figured it out. Yes, WPGulp needs your WordPress server to be running. I'd recommend you to try DesktopServer for that.

[2017-12-15 11:46] bdadev commented on #60
Thanks for support @ahmadawais. WPGulp is incredibly effective. You do a great job.

[2017-12-16 11:18] ahmadawais opened #61 "🚀 WPGulp 2.0 Goals + Call for Contributors!"
🙌 Hey, folks!

Thanks for entrusting me and my code and using WPGulp is thousands of projects. I am humbled by how one single file project has changed my life and the way I look at #OpenSource now. 600+ stargazers, 100+ forks, ~50 watchers. WOW!

🤔 For quite some time I have been thinking of what would WPGulp 2.0 look like in the world of Webpacks, Parcels, and RollUps. :)

🎯 Glad to announce that

[2017-12-16 11:43] ahmadawais commented on #60
@bdadev That's very kind of you to say! 💯

Join us at #61 → 🚀  WPGulp 2.0 Goals + Call for Contributors!

[2017-12-16 13:17] asharirfan commented on #61
I would like to contribute to adding → ES6 support to WPGulp 💯

Also, I think adding `yarn` to WPGulp could also help improve the adoption rate of WPGulp by the developers. 🤔

Let me know what you think about it.

[2017-12-16 13:22] ahmadawais commented on #61
@asharirfan Glad to have you here. Sure take a look at Gulp 4.0 beta docs on its branch and see how to transform WPGulp to support ES6.

Yarn will be supported as soon as we work out a way to make WPGulp an NPM JS Package.

[2017-12-16 14:08] MrSaqibAmeen commented on #61
Glad to see you managing time for WPGulp 2.0 💯

I would love to contribute to the Documentation part of the next version.

[2017-12-16 17:23] ahmadawais commented on #61
@MrSaqibAmeen Sure thing, you should coordinate with @MaedahBatool on this as I think we'd be using MKDocs for documentation.

[2017-12-16 18:31] miklb commented on #61
💯

[2017-12-16 19:33] JeremyEnglert commented on #61
I've spent a lot of time using Gulp 4 and caching/incremental builds on the new JWP Gulpfile. Would love to help here as well!

Also, I'm been utilizing a .yml file to control all of the settings/variables. The HUGE benefit here is yml is so easy to read, even no technical users can configure a Gulp setup.

[2017-12-16 19:50] JeremyEnglert commented on #61
I see there is a vendorJS and a customJS task. Any reason we don't combine those into one?

[2017-12-16 21:14] selrond commented on #61
Hey there, I'm interested in helping transforming it to ES6, and utilizing Gulp 4 API (`gulp.series` & `gulp.parallel`)

@ahmadawais what form should it take? Discussion and then implementation (may be slow), or splitting and assigning the work beforehead and reviewing / discussing PRs?

[2017-12-16 21:47] miklb commented on #61
that's sounds like a solid approach for allowing easier upgrade process. I just became aware of how PostCSS using a similar approach.

[2017-12-16 21:55] selrond commented on #61
@miklb @JeremyEnglert I think YAML, despite being readable, is not an ideal solution for config. Reason being that YAML relies solely on indentation to denote its' structure, moreover, only spaces are allowed.

[2017-12-16 22:47] JeremyEnglert commented on #61
@selrond - Gulp seems to recommend using a json file. But leaving comments within a json file is quite difficult. For most users, this will be a non-issue as the json file should be pretty straight forward.

But since the Gulpfile itself is so well documented, an undocumented json file might seem odd.

We could probably use a plain JS file.

[2017-12-17 07:05] ahmadawais commented on #61
@JeremyEnglert Can you say how stable Gulp 4 is at the moment. It's beta so I have had been avoiding it for a while since you have had been using it let me know.

We definitely need the caching + incremental builds stuff. You can start working on that. Create a new issue for that and let's track the progress there.

About YML file, I think we should use a simple .js file. The userbase of WPGulp is

[2017-12-17 07:08] ahmadawais commented on #41
This was an issue and was fixed in the latest PR. Kindly, test it and report back.

[2017-12-17 07:08] #41 closed

[2017-12-17 07:12] ahmadawais commented on #61
@miklb Would you like to work on PostCSS?

[2017-12-17 20:18] JeremyEnglert commented on #61
The task can be setup in a way so the vendor scripts are at the "top" of the JS file, followed by the custom scripts. That way they are technically loaded before the custom scripts. This is how we handle it on JWP with Foundation and other vendor JS.

I've been using it for quite some time without issue. There seems to be a ton of documentation on Gulp 4 and I haven't ran into any issues with pack

[2017-12-18 01:53] miklb commented on #61
@ahmadawais how so? I'm still getting familiar with PostCSS, but I'm also looking at using it as a substitute for gulp-sass among other things.

If you are thinking along those same lines, then I'd certainly entertain a longer discussion.

[2017-12-18 06:34] ahmadawais commented on #61
@JeremyEnglert

This I think can only happen when you know what the external scripts are. When the scripts are added by the users then what would you suggest?

Let's give it a go then! I think we can have two projects this one stays as a manual WPGulp file that people can use and modify and we create a `WP-GULP-CLI` project that runs behind the scenes with some conventions in place on the architec

[2017-12-18 13:09] selrond commented on #16
@joshlevinson @ahmadawais This is now fixed by https://github.com/ahmadawais/WPGulp/pull/59

[2017-12-18 13:12] selrond commented on #61
@ahmadawais I'd like to see some improvements to the folder structure for WPGulp 2.0 - at least separating source and build / distribution files into separate directories.

I can work on this too

[2017-12-18 14:20] ahmadawais commented on #16
@selrond Thanks for that 👍

[2017-12-18 14:22] ahmadawais commented on #61
@selrond that actually makes sense. If you want to work on that create a new issue with the feature name and start tracking it's progress there. I will add it to the list above.

Also this new structure is a go from my end.

[2017-12-18 14:25] ahmadawais opened #62 "📦 New Logo for WPGulp"
The task here is to create a new LOGO for the new WPGulp version 2.0.0.

- [ ] Must be red (Gulp is red)
- [ ] Different vertical and horizontal sizes
- [ ] Featured images or press kit for blogs to share

This is one of the tasks from our goals #61 for WPGulp v2.0.0
Peace! ✌️

[2017-12-20 20:50] JeremyEnglert commented on #61
Makes sense. And with the rise of HTTP/2, separate files makes sense.

For a config, I'd vote for a regular JS file opposed to JSON. JSON is great, but we can not leave comments in it.

[2017-12-20 20:54] JeremyEnglert commented on #61
@ahmadawais can you create a branch for the new version? That way we can push/pull PR's without screwing up the master branch.

[2017-12-20 20:55] JeremyEnglert opened #63 "Incremental Builds and Caching + Gulp 4.0"
- [x] Update to Gulp 4.0
- [x] Rebuild tasks to take advantage of caching.

This checklist will be updated as new or more detailed tasks become apparent.

[2017-12-21 10:42] ahmadawais commented on #61
@JeremyEnglert Sure thing. Let's start this project now. :)

[2017-12-21 23:05] JeremyEnglert commented on #61
Would you like me to tackle this?

Also interesting in helping with better error handling.

I've already gotten it mostly switched over to Gulp 4 in my fork. I'll do a PR later tonight into the new branch.

[2017-12-22 19:21] JeremyEnglert commented on #62
@ahmadawais - do you have someone working on this? If not, I may know a few designers interested in contributing!

[2017-12-22 19:26] dmhendricks commented on #62
I, too, can try to put some thing(s) together if you give me an idea of what you want it to look like. That is, if you're looking for help/ideas.

[2017-12-23 05:33] ahmadawais commented on #62
@JeremyEnglert Sure! Go ahead and spread the word.
@dmhendricks sure take a stab at it. We had this thing before. I was thinking of improving it in this iteration.

![image](https://pbs.twimg.com/media/CNIpbI1UcAA72sS.jpg:large)

[2017-12-23 05:40] ahmadawais commented on #61
@JeremyEnglert feel free to take anything. Just create an issue and work over it. I am working on the CLI and will create an issue for it ASAP.

[2017-12-23 05:59] JeremyEnglert opened #65 "☕️ Create Separate Config File"
This is for the 2.0 branch. I'll knock this out ASAP as it will most likely effect other changes to the project.

- [x] PR #66
- [x] Formatting

[2017-12-23 15:52] ahmadawais commented on #65
How are we going to use that? We can use a pre-built parser from Awesome Node list.

[2017-12-23 20:05] JeremyEnglert commented on #65
I don't think we need to do anything fancy. Other large projects simply move the config to a .js file and call that file at the top of the Gulpfile. I made a PR for this.

https://github.com/ahmadawais/WPGulp/pull/66

[2017-12-26 14:24] ahmadawais commented on #65
@JeremyEnglert JavaScript based config is definitely the right choice here. I have been reviewing your work and have requested second changes. I hope it helps you learn how it's done and make WPGulp better. I'd also like to add you as a collaborator on this project. You're definitely improving WPGulp and that's the best criteria of judgment here. Let me know :)

[2017-12-26 14:38] ahmadawais opened #67 "💯 ES6 or ESNext Support"
WPGulp 2.0 needs to support ES6/7/8 or let's call it ESNext. I am open to suggestions on how we can handle this. This is a two-fold issue and the todo list is as follows:

- [ ] Convert JS to ESNext
- [ ] Convert WPGulp's code into ESNext

Peace! ✌️

[2017-12-26 14:43] ahmadawais opened #68 "⚒ Better Error Handling for All the Tasks"
WPGulp's error handling is trivial at best. I have had implemented different error handlers for my WordPress projects, I want to improve upon that part of WPGulp in the next version.

- [x] Handle all errors without breaking the dev-workflow.
- [x] Improved error reporting.
- [ ] Maybe use chalk to make the console look better.

[2017-12-26 14:46] kbooshco commented on #67
This would be the best thing to happen to WPGulp.

[2017-12-28 06:16] JeremyEnglert commented on #65
I'm all for that!

I'm also 100% up for a different method if you think export modules are not the right way to go.

[2017-12-28 21:21] JeremyEnglert commented on #68
This will work in tandem with the Gulp caching we are implementing. As we will only want to test recently changed files.

[2017-12-29 17:52] JeremyEnglert commented on #61
Discussion on best way to handle the external config file is here: https://github.com/ahmadawais/WPGulp/pull/66

JSON (no comments) and YAML (odd formatting) are not viable options at this point.

[2017-12-30 07:07] ahmadawais commented on #68
@JeremyEnglert you are right about that. But we need the entire error handling module to be ready for each task. :)

[2017-12-30 07:54] ahmadawais commented on #61
Hey, folks!
Take a looks at the new [Contribution Guidelines for writing consistent commit messages](https://github.com/ahmadawais/WPGulp/blob/master/CONTRIBUTING.md) for this repo.

[2017-12-30 08:04] ahmadawais opened #70 "📚 Improved Image Caching"
Cache images for the image task to only process the new images.

- [x] PR by @marianrick #43
- [x] Remove `cached` and `remember`
- [x] Add `gulp-cache`
- [x] Watch Image Files in the image source folder.

[2017-12-30 08:06] ahmadawais commented on #62
@dmhendricks @JeremyEnglert any updates on this one?

[2017-12-30 08:47] ahmadawais opened #71 "🙌 Migrating to WPGulp v2.0.0"
This issue is here to maintain a list of issues that you might face while migrating to or testing the new version of WPGulp i.e. version 2.0.0. Take a look at #61.

- [x] Run `npm i -g gulp-cli` if you run into some weird [issues like these](https://github.com/gulpjs/gulp-cli/issues/84).

[2017-12-30 13:54] MaedahBatool commented on #61
I'll be working on its complete documentation for `README.MD` file and maybe we can work for its reference docs. 🎯

[2017-12-31 09:22] dingo-d commented on #67
Ok, so I've been reading about Prettier, and I talked with my colleagues from work what they think about it. So I have a few questions about the usage of Prettier.

It's a code formatting tool. When you are writing a project from zero, what benefits do you have over just defining formatting rules in ESLint?
You can set up the rules that will say to put certain function calls on separate lines, spe

[2017-12-31 10:40] ahmadawais opened #73 "🔬 ESLint + (optionally) Prettier Integration with WordPress Standards"
ESLint helps linting the ECMAScript and Prettier is the best Opinionated Code Formatter as in it uses AST and rewrites everything from scratch addressing all the consistencies.

- [x] ESLint configuration
- [x] ESLint config for WordPress
- [ ] Prettier integration with ESLint + Spacing issue that is [not compatible](https://github.com/WordPress/gutenberg/issues/2819)

[2017-12-31 10:57] ahmadawais commented on #73
I have just pushed a basic ESLint integration for the WPGulp2.0. If anyone is interested in reviewing the history of changes take a look at this commit https://github.com/ahmadawais/WPGulp/commit/252ca8688d8b70d30b8725eeed4d4f8f05d98b82

[2017-12-31 11:00] ahmadawais commented on #67
@dingo-d thanks for commenting here. I have been tracking the ESLint + Prettier integration in a separate issue here #73 — I think we should discuss it there instead of this issue. Check my comments there.

[2017-12-31 11:07] ahmadawais commented on #73
If you read the description above you'll get to know that there's just one spacing rule that Prettier doesn't support and that's a blocker for WordPress. Anywho, I have made the first pass on the ESLint integration as per the official WordPress ESLint configuration and with VSCode they are working quite well.

Since there is already a [WPCS ESLint config](https://github.com/WordPress-Coding-Standa

[2017-12-31 11:10] ahmadawais commented on #61
@MaedahBatool that would be awesome. @MrSaqibAmeen take a look at how both of you can collaborate over this issue. @MaedahBatool would you like to manage and time this project throughout it's lifecycle?

@asharirfan you've been MIA whereas the project is getting along quite well. Still going to improve upon what's left here?

[2017-12-31 12:24] ahmadawais commented on #70
Done via https://github.com/ahmadawais/WPGulp/commit/53f103d3ffe1d8bbf6aaf6365c7148d2e7a704dd

[2017-12-31 13:18] #70 closed

[2017-12-31 13:40] ahmadawais opened #74 "🛡 Improve Sass Task + Update NPM Modules"
Sass task is broken and it breaks for simple errors. The new `gulp-sass` has better error handling. Moreover, the `styles` task is quite bulky and needs its dependencies to be updated as well.

- [x] `node-sass` udpate
- [x] Better Error handling for Sass
- [x] Update related modules
- [x] New configurable settings

[2017-12-31 13:42] ahmadawais commented on #74
Fixed via 94d9724ed96db38d84b0c7982ccaa07e8ec5f2f7

[2017-12-31 13:42] #74 closed

[2017-12-31 13:44] ahmadawais commented on #65
@JeremyEnglert Thanks for fixing this issue. I think we can safely close it for now. Also, check your email. I sent one a couple of days ago.

[2017-12-31 13:44] #65 closed

[2018-01-01 14:45] asharirfan commented on #61
@ahmadawais Yes, I have been busy, but I am free now. I am going to look into the progress and see what I can do to contribute.

[2018-01-01 20:41] asharirfan commented on #71
## NPM Install Error

I am getting these errors when I run `npm i` after checking out the branch v2.0.0

[code]

I have no idea what's wrong here. I am trying to debug the issue for now.

[2018-01-02 04:02] ahmadawais commented on #71
@asharirfan did you run the command I wrote above? Try that. Also your Node and npm versions are quite old I supppse.

[2018-01-02 04:19] asharirfan commented on #71
@ahmadawais surprisingly the above command worked now. It wasn't working last night.
Node version: `7.6.0`
NPM version: `4.1.2`

[2018-01-02 07:13] ahmadawais commented on #71
@asharirfan That's why I wrote it there. It's needed since you might have installed an older version of Gulp CLI globally. Also update your Node and NPM. Your versions are way too old.

[2018-01-02 07:23] JeremyEnglert commented on #61
Why do we output a minified and non-minified file? There's better ways of handling this.

Option 1: Simply allow users to comment out the line if they don't want the files minified.

Option 2: Setup production flags to minify files. So 'gulp --production` would minify.

I prefer Option 1. But am interested in hearing the benefit of having both files outputted.

[2018-01-02 07:26] JeremyEnglert commented on #71
Any thoughts of removing Gulp as a global dependency?

[2018-01-02 07:31] ahmadawais commented on #61
@JeremyEnglert How about we create a configuration variable for both?

I am thinking that the configuration will be rearranged at the end of this project in this format:

- Must Configure
- Simple → True/False based customizations
- Advanced → Sane defaults but customizable (and here's where user can have both or either of the minified or non-minified versions)

What do you think about that?

[2018-01-02 07:54] JeremyEnglert commented on #63
@ahmadawais - came across something a bit interesting. As is, the JS tasks don't have anything to cache.

Check it out here: https://gist.github.com/JeremyEnglert/cfbbc14a69ef5a38d78634230a97d88e

[2018-01-02 07:58] JeremyEnglert commented on #61
👍🏼

[2018-01-02 07:59] ahmadawais commented on #71
@JeremyEnglert We could do that. We'd still be able to run `GULP` inside the folder? Or would we be using `npm run` scripts then?

[2018-01-02 08:02] ahmadawais commented on #63
@JeremyEnglert I didn't get that. Also take a look at the latest commit where I added caching for images and live reloading for images. Maybe try and use the same caching module?

[2018-01-02 08:20] JeremyEnglert commented on #63
Since I see we're adding linting, that can be part of what is cached on the JS tasks.

For the image task, we don't need an external module for that. As we don't have to return the images to the stream, `gulp.lastRun` should be sufficient.

[2018-01-02 08:23] JeremyEnglert commented on #63
In regards to `gulp-cache` vs. `gulp-cached`, they seem similar. `gulp-cached` seems to have an easier to understand process (in my opinion) and is slightly more popular. However, I'm open to changing if you heavily favor `gulp-cache`.

[2018-01-02 08:42] ahmadawais commented on #63
@JeremyEnglert Sure if lastRun is enough in the JS task then let's go with that.

About the image task, I did prefer `gulp-cached` for the same reason, but it was some how buggy for what we needed it to do. E.g. right now the images are watched, any new image placed in the set folder will get processed, and that's being done only once. Even if you change the name of that image.

`gulp-cached` just

[2018-01-02 08:44] JeremyEnglert commented on #63
I meant gulp.lastRun should be enough for the images task. But I'll need to confirm.

[2018-01-02 08:45] ahmadawais commented on #63
I don't think so. It's not just lastRun, it's more than that when it comes to caching.

[2018-01-02 08:46] ahmadawais commented on #68
@JeremyEnglert Assign this task to yourself if you're up for it. I am thinking `plumber` would be a great addition. Used to have it back then but then removed it. Not sure if we need one but we do.

[2018-01-02 18:46] JeremyEnglert commented on #63
I just noticed the images task isn't part of the watch task.

What exactly are you trying to cache with images? Are we just trying to make sure the same images are not optimized more than once?

[2018-01-03 00:05] JeremyEnglert commented on #63
Great article on incremental builds and caching: https://fettblog.eu/gulp-4-incremental-builds/

[2018-01-03 15:27] JeremyEnglert commented on #68
I think I need to be a contributor to assign the task to myself.

[2018-01-03 16:01] ahmadawais commented on #68
@JeremyEnglert check your email I sent you the invite twice. Or just go here https://github.com/ahmadawais/WPGulp/invitations

[2018-01-03 18:00] JeremyEnglert commented on #62
I know a designer interested in helping, but he's swamped for the next couple of weeks. However, he's willing to jump on then if needed!

[2018-01-03 18:02] JeremyEnglert commented on #68
Oh, sweet! My apologies - my email is giving me hell this week.

[2018-01-03 18:06] JeremyEnglert commented on #71
It becomes `npm run`. I recently made this change on JointsWP and it cut back on the amount of Node/NPM related support tickets quite a bit.

There are other benefits to using `npm run` as well. It'd make it an easy transition to NPM scripts if you ever wanted to implement though.

[2018-01-08 09:33] AndreaBarghigiani commented on #62
I really love this project and I had this strange idea about the new logo, I understand it is really different from the starting point but I thought that the image you show us is more than a background than a logo. So this is my first try and everyone can use it as a starting point if they like it.

![wplogo-test](https://user-images.githubusercontent.com/190159/34665141-6a15dc66-f45f-11e7-85d6-3a

[2018-01-08 13:59] ahmadawais commented on #62
@AndreaBarghigiani Thanks a lot for your effort but, I think we need something quite minimal and simple. Nothing too fancy or creative. 👍

[2018-01-08 18:38] JeremyEnglert commented on #53
Just a heads up for everyone interested, a PR has been submitted for WP Gulp 2.0 to add ESNext support with Babel!

https://github.com/ahmadawais/WPGulp/pull/80

[2018-01-08 19:44] JeremyEnglert opened #81 "Discussion: Remove Gulp Global Dependency in 2.0"
Since we're moving to Gulp 4 with 2.0, I propose we drop the global Gulp dependency. Many users will have legacy projects running on Gulp 3, which will break if Gulp 4 is installed globally.

From a users perspective, the largest change would be how tasks are called. Instead of running `gulp`, a user would run `npm run gulp`. This applies to other tasks as well - `gulp vendorsJS` becomes `npm run

[2018-01-11 09:24] ahmadawais commented on #81
@JeremyEnglert You are right about that. I have been thinking about this all along since the initial versions of this project. I think it's time we move from simply running `gulp` towards running (what now is considered an industry standard) `npm start` and the NPM Scripts, they understand the `./node_modules/.bin/` by adding it to the `$PATH` and thus having access to it.

For further reading: ht

[2018-01-11 19:14] JeremyEnglert commented on #81
I'll add this to my list. I'll try to get a PR pushed up later today. As this should make it easier for users to contribute to the new project.

[2018-01-12 13:58] ahmadawais commented on #61
@asharirfan @MrSaqibAmeen @MaedahBatool @JeremyEnglert
How does the timeline look at your end? I'm thinking that we release the WPGulp 2.0-beta first week of Feb. It will take a couple more hours of your week but would be worth it.

I am 80% on the WPGulp-CLI thingy — currently creating abstraction.

[2018-01-12 21:52] MrSaqibAmeen commented on #61
@ahmadawais I'm up to spend extra hours and get it done in time. 💯

[2018-01-13 03:08] JeremyEnglert commented on #61
I think a beta release in early February is perfect. Do we have someone tackling updating the docs? With what I have on my plate at the moment, I don't think I can help much in that realm.

[2018-01-13 06:12] ahmadawais commented on #61
Thanks, that's great!

Yes, @maedahbatool will be helping on that part. Though, it's too early for
that. Thinks are changing a lot. Can't have a doc written before RC. 💯

On 13 Jan 2018 8:09 a.m., "Jeremy Englert" <notifications@github.com> wrote:

[2018-01-13 21:27] ahmadawais commented on #53
Fixed in #80

[2018-01-13 21:27] #53 closed

[2018-01-14 20:56] greenkeeper[bot] opened #84 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-01-15 02:54] JeremyEnglert commented on #81
Done in https://github.com/ahmadawais/WPGulp/pull/83.

[2018-01-15 02:54] #81 closed

[2018-01-15 04:23] JeremyEnglert commented on #63
So `gulp.lastRun` doesn't work with a Sass build the way we'd hope. It appears that `gulp.lastRun` only watches the timestamp on `css/styles.scss`, which doesn't change when a `_.scss` file is changed.

I tried changing `styleSRC` to  `./assets/css/*.scss`, but still didn't have any luck.

When Googling, I wasn't able to find much about caching Sass builds - everything seems to be about JS.

[2018-01-15 05:17] ahmadawais commented on #63
I think node-sass itself has a cache.

[2018-01-15 07:55] JeremyEnglert commented on #58
This no longer appears to be an issue in 2.0, but I'm not 100% sure why.

[2018-01-15 09:24] marianrick commented on #58
But it’s great nevertheless

[2018-01-15 19:14] #71 closed

[2018-01-15 19:14] #67 closed

[2018-01-15 19:14] #73 closed

[2018-01-15 19:16] ahmadawais commented on #61
Folks we're getting closer to the release of WPGulp 2.0 take a look https://github.com/ahmadawais/WPGulp/milestone/1

[2018-01-15 19:57] JeremyEnglert commented on #63
In that case, I think we can consider this task done.

- JS tasks are cached via gulp.LastRun and gulp-remember
- Image task is cached by gulp-cache
- Style task is cached by node-sass

[2018-01-15 19:57] #63 closed

[2018-01-15 19:59] JeremyEnglert commented on #61
@ahmadawais - I don't see an issue for "Improved architecture — Separate source and build folders", who's taking a stab at that?

I'm still working on the error handling - so I'm not sure how fast I could get to the architecture - but I do think it's an important part of this release.

[2018-01-15 20:39] JeremyEnglert commented on #58
@marianrick - can you confirm the 2.0 branch works as expected?

[2018-01-16 08:18] dingo-d commented on #73
I've left some comments :)

[2018-01-16 10:00] ahmadawais commented on #61
@JeremyEnglert Feel free to add issues for all of these. I am right now focused on another project that I am releasing today, after which I will come back and work on WPGulp next week (some other back-log stuff that I need to take care of — like my year in review post).

I am also thinking about a way we can allow users to just switch on and off features of WPGulp. I read on local's forums that WP

[2018-01-16 10:17] selrond commented on #61
@JeremyEnglert I can

[2018-01-16 14:06] marianrick commented on #58
Currently it behaves as expected in my test cases, so I would say yes, it works great.

[2018-01-16 18:26] JeremyEnglert commented on #61
Heavy in what way? If it's because of the NPM modules, then having options won't necessarily fix that as the modules will be installed regardless. I've used Gulp on some really large sites using Local by Flywheel and never noticed any issues (but to be fair, I wasn't actively looking for issues either).

However, if we're trying to cut back on the project anyway possible, here are some ideas I hav

[2018-01-16 19:10] ahmadawais commented on #58
That's great. Closing this issue then.

[2018-01-16 19:10] #58 closed

[2018-01-16 19:13] ahmadawais commented on #73
@dingo-d Where?

[2018-01-16 19:16] ahmadawais commented on #61
Feature heavy I think. But once we put it behind a single package that won't be a concern.

Yeah, addressing that would be easier with one single dependency that executes based on user configuration.

[2018-01-16 19:39] JeremyEnglert commented on #61
My understanding of dependency management is sparse - so bare with me. :)

But since NPM uses a "flat" dependency structure now, would bundling it into a "single" dependency really help? The devDependencies will still need to be installed.

[2018-01-17 07:18] dingo-d commented on #73
In the PR, but you've answered them :D

[2018-01-17 19:24] achinkumar10 commented on #61
Hi @ahmadawais , I have been following your projects like Twig integration , Gulp etc. I would love to contribute to your project. I have an experience of 8yrs as a WordPress developer and I work with WP and Drupal CMS'es.

I was wondering if we could integrate Gulp with WP-CLI. This would help us run operations through WP-CLI. Not sure if I am making since :)

Let me know your thoughts.

[2018-01-17 19:34] ahmadawais commented on #61
Nice to have you here. Ueah you do make a lot of sense and I am all years
about how you want to do that. Propose it in a separate issue and let's
discuss it there.

On 18 Jan 2018 12:25 a.m., "Achin Kumar" <notifications@github.com> wrote:

[2018-01-26 01:07] ahmadawais commented on #68
@JeremyEnglert any progress on this?

[2018-01-26 20:31] JeremyEnglert commented on #68
Sorry, been a bit tied up with Foundation.

I can tackle this over the weekend.

[2018-01-26 21:20] harrisonfm opened #88 "Including Browserify or alternatives?"
I've been trying to get a Browserify-based workflow in place as an overwrite of the customJS task. However, after a lot of fiddling I've had it fail via the script never getting to BrowserSync.

Do you have any suggestions?

[2018-01-27 03:24] JeremyEnglert commented on #68
Done in https://github.com/ahmadawais/WPGulp/pull/89.

[2018-01-27 20:52] ahmadawais commented on #68
Thanks for that, @JeremyEnglert ✅

[2018-01-27 20:52] #68 closed

[2018-01-27 21:12] #88 closed

[2018-01-27 21:12] harrisonfm commented on #88
Was able to self-resolve with a little more work.

[2018-01-28 14:02] ahmadawais commented on #88
Care to share it here?

[2018-01-28 17:39] harrisonfm commented on #88
Sure. I think it can probably be improved a bit by someone better at the workflow. I'm only watching one file instead of the directory as I plan to require other files off it.

#### Includes

[code]

#### New JS task

[code]

[2018-01-31 18:08] JeremyEnglert commented on #61
@ahmadawais - anything I can do to help push this along? Looks like we're close to getting 2.0 to beta!

[2018-02-01 20:28] ahmadawais commented on #61
@JeremyEnglert Can you take a look at what else we can improve here?

Also the 🗃 Improved architecture — Separate source and build folders.

What's left is that now I don't want to release it as is, I want to make it a Zero-Config-JS. Where you run a single command and your project has WPGulp without anyone ever touching anything with predefined defaults — which are configurable.

I have lost hope

[2018-02-02 21:29] theenoahmason commented on #62
I am a designer, I am about to give this package a go. If It suits my needs, I will offer a small identity package as a thank you.

[2018-02-02 21:38] theenoahmason commented on #61
@ahmadawais yes yes yes. This also follows the patter of create-react-app and express-generator and as someone who goes between node projects and WP projects often, this would be awesome.

Maybe even something like `create-wpgulp-theme` that makes a theme directory with your wp-gulp scripts merged onto a copy of the latest underscores (_s).

You could use their (_s) directory structure as a starti

[2018-02-02 23:47] theenoahmason commented on #47
Can confirm. Makes using this package impossible. Will check back later for a fix. So promising :(

[2018-02-03 05:16] theenoahmason commented on #47
@khoipro This is happening because the sourcemap location is too specific, it should be relative if you are in the pipe already.

Make sure the line that writes the sourcemap is the following: `.pipe( sourcemaps.write ( './' ) )` This makes sure that the sourcemaps get written alongside the min files, reguardless of where the source css is. This should never change.

[2018-02-03 05:23] theenoahmason commented on #47
@ahmadawais I just experienced this issue and solved with the above ^. Your latest release in the tags section of this repo is not working with even small customization, and a lot of deps are out of date, yet aren't being mentioned in `npm outdated` for some reason.

[2018-02-03 11:28] ahmadawais commented on #47
@theenoahmason We are close to releasing a major upgrade. Can you help test it to see if things are looking good there? It's there in [the v2.0.0 branch](https://github.com/ahmadawais/WPGulp/tree/v2.0.0).

[2018-02-03 11:31] ahmadawais commented on #47
Also you should try the gulpfile in the master with the installation instructions, that is already updated.

[2018-02-03 11:38] ahmadawais commented on #62
That's awesome, Noah! Do checkout the latest v2.0.0 branch. We are close to
releasing a completely new zero configuration WPGulp package.

*  AHMAD AWAIS  *
  Full Stack Web Developer — Regular WordPress Core Contributor/Dev

*AhmadAwais.com
<https://ahmadawais.com/?utm_source=email_signature&utm_medium=email>** |
Say Hi on Twitter <https://twitter.com/mrahmadawais/>* *| **Facebook
<https://fb.com

[2018-02-03 11:48] ahmadawais commented on #61
That's the motivation here. 💯

If you're up for contribution I have a [WPGulpTheme](https://github.com/ahmadawais/WPGulpTheme) project that we can turn into this.

[2018-02-03 18:49] theenoahmason commented on #47
@ahmadawais gotcha, sorry for confusion! maybe release 1.0.4 with just that fix for people who may still be using 1.0?

[2018-02-03 19:02] ahmadawais commented on #47
Sure thing!

[2018-02-03 21:50] JeremyEnglert commented on #61
I have mixed feelings on that idea - but it could be because I don't fully understand it.

As this is a build tool; I'm assuming many users will add additional tasks or modify how tasks work - which could involve additional dependencies.

If a user can not control the version of dependencies, you could run into conflicts. It also limits the ability to easily drop the workflow into an existing them

[2018-02-03 21:54] JeremyEnglert commented on #61
Generators (like create-guten-block) and boilerplates (like WPGulp) are both extremely useful depending on the situation.

With a tool like WPGulp, I prefer a boilerplate as I have more control as an end user.

[2018-02-04 17:17] theenoahmason commented on #61
A generator just generates boilerplate for you. In create-react-app for example, there is an eject script. This ejects all create-react-app deps to your package.json and forks from the build tool. Doing an eject would give you access to every single character in the code. The generator helps because it allows us to update "react-scripts" instead of 50 deps individually ;)

Once you know, you know!

[2018-02-06 12:46] EugenioPetulla opened #90 "Compatibility with Linux 64bit version due gulp-sass version"
## Expected Behavior
``npm install`` do not fails on linux 64bit version

## Actual Behavior
``npm install`` thorw an error because of the ``gulp-sass`` version is no more compatibile

![schermata da 2018-02-06 13-27-45](https://user-images.githubusercontent.com/3589467/35860323-ee93390c-0b43-11e8-9c60-a92786073f80.png)

## How to solve
Update the ``gulp-sass`` version to ``^3.1.0`` in ``package.j

[2018-02-06 15:32] ahmadawais commented on #61
@theenoahmason you are right about that. I hope you tried my create-guten-block https://github.com/ahmadawais/create-guten-block toolkit which does exactly that.

[2018-02-06 22:09] theenoahmason commented on #61
@ahmadawais I will check it out!

[2018-02-07 09:53] ahmadawais commented on #90
Thanks for reporting this, @EugenioPetulla care to send a PR?

Also, we are making version 2.0.0 which is up to date with all this. Do try it out https://github.com/ahmadawais/WPGulp/tree/v2.0.0

[2018-02-07 16:56] EugenioPetulla commented on #90
I'll do the PR as soon as I can.

I did not use WPGulp since my coworker (he is a mac guy) decided to start a project using it, so I tried it the same day I opened this issue (what a shame, sorry).

I like the idea of having a config.js, I always do this in my workflow so I think I will try the 2.0 version in this days! Great project, you deserve a star! 😸

[2018-02-08 05:55] ahmadawais commented on #90
@EugenioPetulla That's great. Version 2.0.0 — take a look at [what we are cooking](https://github.com/ahmadawais/WPGulp/issues/61) and it's good to have you here from the day you started using WPGulp 👍

[2018-02-08 05:57] #90 closed

[2018-02-08 05:57] ahmadawais commented on #90
Fixed :)

[2018-02-23 13:08] frontenddevguy opened #93 "How to include bower dependencies in vendor?"
I am trying to add a dependency but appears this is not set up by default?

I tried adding:

`var bower        = require('gulp-bower'); // bower dependencies`

and

[code]
before the vendors task,
but nothing is being piped to vendors folder.
I changed my structure to gulp-dev folder outside the wp theme folder, which is otherwise working fine.

[2018-03-06 10:55] mrxkon commented on #62
I was talking with @ahmadawais today about a similar idea of this ( I just hadn't heard WPGulp yet it seemed :D ) and I just have to say 🥇.

Anyway I'm not a graphic designer per say but I have been on a similar field ( of tattooing ) for years now along with my love of coding so: The idea is that everybody already knows both `logos` very well top say the least and since I'm not the guy that tries

[2018-03-06 11:36] ahmadawais commented on #62
@mrxkon That's very kind of you to say! 💯 and the logo. I'll def look at it when releasing v2.0.0.

[2018-03-07 14:12] imomer commented on #62
Just a quicky work....

![wpglup](https://user-images.githubusercontent.com/773535/37096755-7e86e5d2-223b-11e8-9b42-97aa1ee48bfa.jpg)

[2018-03-18 11:47] rahulnever2far opened #95 "Sourcemap for the minified css?"
Is it possible to get sourcemap for the minified css? I tried adding `.pipe(sourcemaps.write('./'))` after `.pipe(minifycss()` but it doesn't generate the correct sourcemap :(

[2018-03-20 18:38] selrond opened #96 "Remove / drastically eliminate comments"
Comments are widely considered [Code smell](https://en.wikipedia.org/wiki/Code_smell).

Aside from that, I've personally found them really annoying while working with WPGulp.

In my view,

1. Gulp's API is reasonably self-documentative to not need any comments
2. Comments, in general, should tell **why** is the code here, not **what** it's doing; comments in WPGulp are basically the same thing `pi

[2018-03-20 18:40] selrond opened #97 "`package-lock.json` is not being ignored, nor present"
`package-lock.json` is created upon `npm install`, but it's not in this repository, nor present in `.gitignore` - what's the expected behavior here @ahmadawais?

[2018-03-20 18:47] ahmadawais commented on #96
I think it's a dev tool and in dev tools, throughout the community, it's a general standard good practice to use more and more comments. The next major version of WPGulp will be hidden away in npm modules so you only will need to just use a file called wpgulp.js or something.

I hope that will help.

[2018-03-20 18:48] ahmadawais commented on #97
That's a file that keeps track of everything for your project via NPM. I think we should keep it that way. You can choose to use it or ignore it.

[2018-03-20 18:48] #97 closed

[2018-03-20 18:53] selrond commented on #97
@ahmadawais I do know what it does, however, the very purpose of it is to ensure your dependencies stay exactly the same upon every installation - are you really confident about that?

[from the docs](https://docs.npmjs.com/files/package-lock.json):

[2018-03-20 18:56] selrond commented on #96
@ahmadawais But the comments really don't make any sense here - they just repeat what `pipe()`s are doing.

[2018-03-20 18:59] selrond commented on #96
Consider this:

[code]

How about replacing it with a one-line description about what the task is intended to do, and giving a link to a wiki / `README.md` section in the documentation?

[2018-03-20 19:05] lilolbear commented on #97
I have experienced the horrors of a mismatched package version creating strange errors.

[2018-03-20 19:05] selrond commented on #96
Recommended reading:

- [anti patterns - "Comments are a code smell" - Software Engineering Stack Exchange](https://softwareengineering.stackexchange.com/questions/1/comments-are-a-code-smell)
- [Code Tells You How, Comments Tell You Why](https://blog.codinghorror.com/code-tells-you-how-comments-tell-you-why/)

[2018-03-20 19:10] selrond commented on #97
Also, Gulp (and its' plugins) makes use of many, many dependencies by design, so this is a must as far as I'm concerned

[2018-03-26 15:12] marianrick commented on #62
It may seem a little bit fussy, but Wordpress has got some clear guidelines on how to use their logo. Whenever you use the visual identity of another organization, I consider it appropriate to use their identity as it comes. Because of that I would avoid rotating or manipulating it. The Wordpress logo should stand tall & graceful at it is.

Furthermore Wordpress has a clear opinion of their own in

[2018-03-26 15:30] marianrick commented on #62
Its really hard to make a good logo, but I thought I cannot give these suggestions without at least trying it on my own. Maybe its a good starting point for another person.

**Input:**
![input](https://user-images.githubusercontent.com/20360130/37915564-1a4f37c0-311a-11e8-9f71-718affc745d0.png)
I thought its a good idea if the logo tries to keep both visual words (Wordpress and Gulp) alive, while

[2018-03-27 07:29] marianrick commented on #96
I think this highly depends on your level of skill. That may be wrong, but I think especially those “out of the box” scripts are used by a wide range of devs.

At the beginning these comments were pretty helpful for myself to understand what was going on.

I think that’s the most important point: Who’s your target group? Is this a tool for beginners or for the lazy pros?

[2018-03-27 07:41] marianrick commented on #24
@dmhendricks thanks for your suggestions, checking out Local by Flywheel right now.

[2018-03-27 07:58] selrond commented on #96
@marianrick I think it's really important to make a distinction between *comments* and *documentation*. They're **not** (or very rarely) the same thing.

I'm not against either of the two, I'm all for proper and sensible usage of them.

Two solutions I see:

1. Move comments to documentation outside of `gulpfile.js`, only leave ones that explain **why** some obscure code is where it is; or
2. put

[2018-03-27 10:56] ahmadawais commented on #96
🤔 I agree with @marianrick and many many developers have said the same thing to me. It's also my personal belief that more comments in dev-tooling are better. It's helped me a lot. Many of the dev-tools out there agree with this stance. E.g. Create React App.

So, I am going to close this ticket with the appreciation for discussion but not going to remove the comments. Thanks for chiming in. 👋

[2018-03-27 10:56] #96 closed

[2018-03-27 11:02] ahmadawais commented on #62
💯 @marianrick I agree with everything you said.
The earlier image was just a featured image for a blog post I wrote, that had both WordPress and Gulp.js logos on it.

✅ Also, I see that you put your money where your mouth is. I like the iterations of your logo designs and I specifically like this one.

![image](https://user-images.githubusercontent.com/20360130/37915923-d092dfb4-311a-11e8-96ba-e05

[2018-03-27 12:03] marianrick commented on #62
@ahmadawais glad you like it, and of course I am willing to adjust the typeface. But as this is certainly a wide field, please try to give me a hint, what you feel like missing.

This would make much more sense than trying six different random typefaces. As its easier to disagree on something than to agree, here are some statements, you can choose out of or use them to make your own.

- It should

[2018-03-27 13:36] ahmadawais commented on #62
@marianrick I'm really not sure here. I like the direction but the typeface is a bit kid-like. I think we can have a more bold font face. I'll roll in @richtabor and let's what he thinks. ⚡

[2018-03-28 02:59] richtabor commented on #62
@ahmadawais What do you think of something like this?

![wpgulp](https://user-images.githubusercontent.com/1813435/38006291-6215d87c-3212-11e8-9ef5-c294093f117a.png)

[2018-03-28 08:56] ahmadawais commented on #62
@richtabor I like that a lot. Can we play with the colors a bit like the ones @marianrick created? I think a mix of these two logos and we are good to go.

To be clear, I like this logo ↓

![image](https://user-images.githubusercontent.com/1813435/38006291-6215d87c-3212-11e8-9ef5-c294093f117a.png)

But I'd love the above logo to have the following two colors. Maybe in that glass somewhere, or `WP`

[2018-03-28 11:09] richtabor commented on #62
@ahmadawais Good idea. What do you think of this ↓
![wpgulp](https://user-images.githubusercontent.com/1813435/38025587-e56d6e94-3256-11e8-9cda-43d0cda959b4.png)

[2018-03-29 09:26] ahmadawais commented on #62
@richtabor sold. Give me the `.psd` 👍 thanks for your design contribution.

[2018-03-29 13:58] richtabor commented on #62
Indeed! I'm glad I could help out. :)

Here's a [Sketch zip](https://github.com/ahmadawais/WPGulp/files/1860376/wpgulp-logo.zip) and an [SVG zip](https://github.com/ahmadawais/WPGulp/files/1860386/wpgulp-logo.svg.zip).

[2018-04-16 19:10] cdils commented on #93
It looks like [WPGulp v2](https://github.com/ahmadawais/WPGulp/tree/v2.0.0) no longer includes Bower (Bower is deprecated). [Webpack](https://webpack.js.org/) is a popular alternative

[2018-04-17 12:06] ahmadawais commented on #93
Bower is deprecated and no longer supported. You're right.
I'd love for you to contribute webpack for that, but don't you think that'd be an overkill? I use Gulp where I don't use webpack.

🤔Let me know how you see both potentially integrated?

[2018-04-17 12:09] #84 closed

[2018-04-17 12:10] ahmadawais commented on #95
What is your usecase here?

[2018-04-17 15:26] cdils commented on #93
@ahmadawais Agreed that webpack has a lot of overlap with Gulp. I've used Bower on previous projects but have actually decided (for simplicity's sake) just to use NPM to bring in the front-end dependencies I need.

[2018-04-17 18:17] cdils opened #99 "Add RTL stylesheet capability"
I'd like to add the ability to optionally:
- generate an RTL stylesheet,
- create a sourcemap,
- and minify it.

Using [`gulp-rtlcss`](https://www.npmjs.com/package/gulp-rtlcss) (which uses [`rtlcss`](https://www.npmjs.com/package/rtlcss) I can take care of those first two bullets. The third I can do with [`gulp-minifycss`](https://www.npmjs.com/package/gulp-uglifycss) (which is already included i

[2018-04-18 00:45] johnvincentlovell opened #100 "In Chrome, sass source files disappear on refresh"
In Chrome, whenever I refresh a page or if BrowserSync refreshes the page, the sass source files disappear and suddenly I'm unable to edit the style via the DevTools inspection editor. If I refresh DevTools with option+R (probably alt+R on PC), then they're back and working fine. Any idea why this might be happening or what I can do to fix this?

This doesn't seem to be happening with Firefox and

[2018-04-19 11:18] ahmadawais commented on #99
@cdils

generate an RTL stylesheet,
create a sourcemap,
and minify it.

Welcome to the project! 🙌

There are a lot of ways we can do this. Right now there are two tasks for images and translation which are separate as compared to all else.

You have to run:
1. `gulp images`
1. `gulp translate`

Take a look → https://github.com/ahmadawais/WPGulp#-optional-step-6-images-and-translation

Similarly, w

[2018-04-19 11:40] ahmadawais commented on #93
@frontenddevguy you'll have to pick a vendor file and place it in the vendors folder. If you want dependency management then webpack is the way to go. I am building something along that the lines for that as well.

[2018-04-19 15:35] cdils commented on #99
Thanks @ahmadawais!

In order to generate an RTL sourcemap, I'd need to re-compile SASS to CSS, correct?

[2018-04-19 15:36] ahmadawais commented on #99
@cdils I'd start by duplicating the same `styles` task which will take care of everything else but add gulp-rtl to it. So, you're right.

[2018-04-19 16:32] cdils commented on #99
@ahmadawais Here's a gist of what I've got so far:

https://gist.github.com/cdils/2f6a9e0e54ad637b219c3cc7b26da69c#file-gulpfile-js

When run, it outputs:
[code]
What's missing is a `style.min.css` On [line 43](https://gist.github.com/cdils/2f6a9e0e54ad637b219c3cc7b26da69c#file-gulpfile-js-L43) it seems like the `filter` pattern should "look" for all `.css` files in the root directory, but yet it'

[2018-04-19 18:12] ahmadawais commented on #99
What commands did you run? Did you run `gulp` and then run `gulp stylesRTL`
or just the later?! Coz just running the later might cause that. I think.
Can't say much I am on mobile right now.

[2018-04-19 18:13] ahmadawais commented on #99
I think line #38 should be before line #35 @cdils on your gist.

[2018-04-19 18:27] cdils commented on #99
Sorry, running `gulp stylesRTL` output those 5 files. If I only need to output the 3 RTL files, then my problem is solved. :)

[2018-04-19 18:38] ahmadawais commented on #99
So, is it solved? Looking forward to the PR. 👍

[2018-04-19 18:39] ahmadawais commented on #100
Doesn't happen to me. What version are you using. Can you make a GIF?

[2018-04-20 16:06] johnvincentlovell commented on #100
Huh. it stopped happening! i'll close it out for now. thanks!

[2018-04-20 16:06] #100 closed

[2018-04-25 08:14] frontenddevguy commented on #93
@ahmadawais That's what I was attempting to do, and it works, but creates a recursive structure like plugin-a/plugin-a, and so the built vendors file includes code twice. That's what I was hoping for a pointer on by posting the above code.

It would be great to have a boilerplate for webpack with Wordpress definitely.
Not all of us are that technical and good with Js, but still want to use best pr

[2018-04-26 15:37] cdils commented on #93
@frontenddevguy Just my two cents, but if you want to use Webpack, I'd ditch Gulp altogether. Here's an example of a "Gulp-free" [Webpack boilerplate for WordPress](https://github.com/danderozier/wordpress-webpack-boilerplate). (I have note used that code and can't comment on it other than to say what you're asking for exists). :)

[2018-04-26 18:06] ahmadawais commented on #93
Closing this issue as it's pretty much addressed.

[2018-04-26 18:06] #93 closed

[2018-05-09 08:30] lukereech opened #102 "Slow Reload Time alongside Local by Flywheel"
As reported here - https://github.com/ahmadawais/WPGulpTheme/issues/9#issuecomment-387663545

I'm still experiencing problems, having used different WordPress builds and clones of this repo. Have had to remove the BrowserSync task from the gulpfile for now because it is slowing me down.

[2018-05-09 08:56] ahmadawais commented on #102
You didn't answer my question here:

BTW Checkout the v2.0.0 branch of upcoming WPGulp which has a separate config file and updated modern JavaScript based workflow. Might fix the issue.

[2018-05-09 09:10] lukereech commented on #102
Ah my apologies I missed that, will give it a try.

FYI using it, when doing an `npm install` it got stuck when trying to install the dependency 'eslint-config-wordpress@2.0.0'. I've removed it from the package.json to try get everything else installed but also getting stuck at `⸨    ░░░░░░░░░░░░░░⸩ ⠴ fetchMetadata: sill pacote range manifest for jsonify@~0.0.0 fetched in 59m` now.

[2018-05-09 20:52] cdils opened #103 "Compile multiple CSS files into different directories"
I'm in the process of adding editor-specific and gutenberg-specific styles to a project. While this is possible with the existing WPGulp `styles` task, I'd like to suggest a more elegant implementation.

## Current output
In my project `config.js` file under Style Options, I have:

[code]
`styleSRC` points to three Sass files I have created:

`editor-styles.scss` // editor styles
`gutenberg.scss`

[2018-05-23 05:33] ahmadawais commented on #103
Apologies, I've been away due to a family emergency. Will respond soon. Nice ideas.

[2018-05-23 12:18] cdils commented on #103
No worries @ahmadawais

[2018-05-30 01:28] ahmadawais commented on #102
Same issue with folks here. https://github.com/BrowserSync/browser-sync/issues/1346

I solved it by enabling IPV6 as mentioned there.

[2018-05-30 01:28] #102 closed

[2018-06-17 05:16] asamolion commented on #61
@ahmadawais  Is WPGulp 2.0 intended to support WordPress plugin development using libraries such as React or Vue?

[2018-08-06 13:58] AviKlein opened #105 "Gulp consuming over 80% when running gulp with WPGulp"
## Bug Report

### Expected Behavior

Normal amount of CPU usage

### Actual Behavior

I have used Gulp with other setups several times before and everything worked fine. However, when using WPGulp it's consuming a huge amount of CPU.
![image](https://user-images.githubusercontent.com/42144272/43718369-1d209002-9993-11e8-9b55-d8a0dbd91b99.png)
I tried disabling the browser sync, thinking that that

[2018-08-06 16:38] #105 closed

[2018-08-06 16:38] AviKlein commented on #105
I accidentally installed everything in the WP root, all is good now.
You can cancel this issue.

[2018-08-07 03:26] ahmadawais commented on #105
@AviKlein glad you figured it out. Make sure to try out the new beta in branch `v2.0.0` it's ready just needs documentation. Also, if memory is ever an issue stop the PHP file watching it saves a bunch of it.

Peace! ✌️

[2018-08-17 15:44] marcoaring opened #107 "Update NPM dependencies"
Update NPM dependencies to latest version. I've change my package.json to the following code:

"devDependencies": {
    "browser-sync": "^2.24.6",
    "gulp": "^3.9.1",
    "gulp-autoprefixer": "^5.0.0",
    "gulp-concat": "^2.6.1",
    "gulp-filter": "^5.1.0",
    "gulp-imagemin": "^4.1.0",
    "gulp-line-ending-corrector": "^1.0.2",
    "gulp-merge-media-queries": "^0.2.1",
    "gulp-notify": "^

[2018-08-17 19:13] ahmadawais commented on #107
Doesn't look like an issue or a PR.

Here's the latest Branch https://github.com/ahmadawais/WPGulp/tree/v2.0.0

[2018-08-17 19:13] #107 closed

[2018-08-25 02:38] WestCoastDigital opened #108 "Gulp Task Not Running"
I have just switched over from Grunt to WP Gulp as a suggestion by a colleague and running V2.

The issue I have is when I run the Gulp task I get the following error (could be my end, so let me know if it is)

`[10:33:39] Using gulpfile ~/Sites/katchrainwater/wp-content/themes/katchrainwater/gulpfile.js
/usr/local/lib/node_modules/gulp/bin/gulp.js:129
    gulpInst.start.apply(gulpInst, toRun);

[2018-08-28 15:00] #108 closed

[2018-09-06 18:44] ahmadawais commented on #61
@asamolion nops, for that you can use [create-guten-block](https://github.com/ahmadawais/create-guten-block) — I prefer using webpack for modern JS. Wait for some time I am open sourcing three more projects for this thing.

Peace! ✌️

[2018-09-07 13:01] ahmadawais commented on #62
Thanks, everyone! The logo is done.

[2018-09-07 13:01] #62 closed

[2018-09-07 23:02] ahmadawais commented on #61
Hey, everyone!

WPGulp v2.0 is out with a new shiny installer. There were some goals related to updating and more which I think we'll cover in v3. Also, with Gulp v4, Babel v7. 😮

Kindly, take a look https://github.com/ahmadawais/WPGulp and test it. Report bugs, errors, contribute PRs and everything 👍

I'll keep this open for a while just of `#OMGWTFBBQ` type questions.

Peace! ✌️

[2018-09-08 15:36] justlevine opened #109 "ERROR: Cannot find module 'babel-preset-env' - Did you mean "@babel/env"?"
## Bug Report

### Actual Behavior

When runining `npm start` I get several errors:
`❌  ===> ERROR: Cannot find module 'babel-preset-env' from 'D:\www\boldcreative\wp-content\themes\boldcreative'
- Did you mean "@babel/env"?`

### Steps to Reproduce

1. Deleted node_modules, and any 1.9.x WP_Gulp files (package.json, config, etc).
2. Run `npx install-wpgulp` and configure new wpgulp.config.js
3. R

[2018-09-08 15:45] ahmadawais commented on #109
You shouldn't be using 1.9.x files with `install-wpgulp` you should be using the latest files.

It's my understanding that `install-wpgulp` should overwrite all the simular files in the current directory.

Thoughts! 👌

[2018-09-08 15:51] justlevine commented on #109
Thats why I said 'deleted... and **any 1.9.x. WP_Gulp files**'. I assumed it would overwrite it all, but JIC once i got this error, I made sure to manually delete everything before `install-wpgulp`

[2018-09-08 16:16] ahmadawais commented on #109
By going through all the steps for reproducing the error I didn't get an error. You must have some different env where this error came from. Think and let me know.

I am thinking that a rename of all the old files by the installer would also be a good next step.

[2018-09-08 16:18] justlevine opened #110 "Browsersync localhost:3000 doesnt work"
## Bug Report

### Expected Behavior

Visiting `localhost:3000` should load the BrowserSync-ed version of the website.

### Actual Behavior

Visiting localhost:3000 gives you an ERR_CONNECTION_CLOSED.
Visiting the **External Url** works as expected.

### Steps to Reproduce

1.  Edit your `wpgulp.config.js` project url.
2. (Optional) set `browserAutoOpen: true`
3. type `npm start`
4.  If you didn't

[2018-09-09 17:05] siriusnottin commented on #109
I have the same error 😅I think I did a bad update of WP Gulp, could it be that?

[2018-09-09 18:29] ahmadawais commented on #109
@siriusnottin I am unable to reproduce this issue at my end. Explain.

[2018-09-09 20:14] siriusnottin commented on #109
Sorry for the lack of explanation 😇 I deleted the node_modules folder, the package.json, package-lock.json and gulpfile.js files.
After following the readme.me I run `npm install` and `npm start` after, this error was displayed and my javascript files are no longer taken into account in the vendor and custom folder :

❌  ===> ERROR: Cannot find module 'babel-preset-env' from '/Users/siriusnottin/S

[2018-09-10 05:45] ahmadawais commented on #109
Sounds like you probably have a `.babelrc` that is still referencing `babel-preset-env`. Can you both confirm if you have a pre-existing `.babelrc` or similar file?

[2018-09-10 06:26] ahmadawais commented on #109
OK, I think I know what the issue was.

Gulp file needed new `'@babel/preset-env'` syntax upgrade. Just released a new version for both WPGulp and installer. Try now.

[2018-09-10 07:38] siriusnottin commented on #109
Great, it works 👌, thank you so much @ahmadawais ! it was my first bug report on GitHub btw 😂

[2018-09-10 08:58] ahmadawais commented on #109
Ha. Now step it up and contribute for the next milestone. 👌

[2018-09-10 08:58] #109 closed

[2018-09-13 15:47] ahmadawais opened #111 "[RESOLVED] printNextSteps is not a function (FIXED v2.6.0)"
There was an error in the `printNextSteps`  file where I accidentally commented out the module.exports. That resulted in an error like this:

[code]

So, it was fixed in `v2.6.0`. It may take a while for `npx` to pick it up but you can test `npx wpgulp@2.6.0` and it works. But mostly you should be fine with just `npx wpgulp` in an hour after the release.

Thanks for the report Shamai.

[2018-09-13 15:50] ahmadawais commented on #111
Just tested `npx wpgulp` and it's working fine.

[2018-09-13 17:36] saltnpixels opened #112 "Error installing, command failed"
## Bug Report
I get an error when I try and install it
The error is
[code]

I am using the latest versions of node and npm.
I am on a Mac OS

[2018-09-13 19:40] ataylorme opened #113 "Potential gulp Improvements"
I just found this project - stellar job on making something so great! I see in v2 the project was updated to use gulp 4.

[WP Rig](https://github.com/wprig/wprig) recently went through a gulp 4 overhaul for the upcoming 1.1 version.

See [this pull request](https://github.com/wprig/wprig/pull/47) for the list of all the improvements made.

I think quite a few of them, such as using `pump`, loading

[2018-09-13 20:07] ahmadawais commented on #113
@ataylorme nice to finally e-meet you. I think I heard about you/your work at Pantheon from David. So, 👋 fellow dev 🥑.

See this pull request for the list of all the improvements made.

Just went through it.

- Interested — **YES**
- Loading plugins — I see no value in that, guess-work makes things harder for beginners, many people like to remove things from this setup.
- `pump` — that is super aw

[2018-09-13 20:14] ataylorme commented on #113
@ahmadawais thanks for the quick reply. Nice to "meet" you as well!

Understood that the project is aimed at beginners so the change we want is to use `pump` instead of `pipe` (see the gulp 4.0.0 docs on [why use pump](https://github.com/gulpjs/gulp/tree/master/docs/why-use-pump)).

[2018-09-13 21:20] ahmadawais commented on #112
@saltnpixels still having this issue? Kindly report through the original bug report issue and answer all the questions there so that I know which version of what you are using 👍 Just copy paste the template from a new issue below :).

Looking forward!

[2018-09-13 22:13] saltnpixels commented on #111
hmmm for some reason it wont work on one of my macs. I get this error when i try to run npx wpgulp:

## Bug Report
[code]

Node: 8.12
NPM: 6.4.1

Then, specify:

1. Operating system: Mac OS 10.13.6

[2018-09-14 11:00] #111 closed

[2018-09-14 11:00] ahmadawais commented on #112
`npm install --silent` should work. Can you test `npm install --silent wpgulp` on that computer to see if it has an npm issue?

[2018-09-14 13:45] saltnpixels commented on #112
So `npm install --silent wpgulp` does work.
But when I run npx wpgulp the issue still comes up.
Error:
[code]

[2018-09-14 13:55] ahmadawais commented on #112
It looks like `npm install --silent` command is failing. This could also be a permissions issue. Can you run `sudo npx wpgulp` and report back?/

[2018-09-14 14:05] saltnpixels commented on #112
Even with sudo it fails. :/

[2018-09-14 14:30] ahmadawais commented on #112
Can you try the beta? Run:

[code]

and report back?

[2018-09-14 14:43] ahmadawais commented on #47
Can you check this and repoen for the latest v2 release?

[2018-09-14 14:43] #47 closed

[2018-09-14 14:43] ahmadawais commented on #24
Take a look at how v2 handles this and see if we still need this. Then reopen if required.

[2018-09-14 14:43] #24 closed

[2018-09-14 14:44] ahmadawais commented on #95
Take a look at how v2 handles this and see if we still need this. Then reopen if required.

[2018-09-14 14:44] #95 closed

[2018-09-14 14:44] ahmadawais commented on #103
@cdils now that v2 has been released how do you propose we can handle this?

[2018-09-14 14:45] ahmadawais commented on #110
Is it still the same since the last two versions? I mean try now, WPGulp has been updated.

[2018-09-14 14:52] saltnpixels commented on #112
Here are the errors from using 2.6.1-beta

[code]

[2018-09-14 15:18] saltnpixels commented on #112
I was able to run it successfully on another computer.
Then I copied it to the problem computer and tried running npm start.

Here is the error I get when i do that:
[code]

Does that help at all?

I tried updating npm, node and gulp on the global level but still it wont work right.

[2018-09-14 15:34] ahmadawais commented on #112
Well, it's definitely your computer's issues. Coz now it's not installing modules from `npm install`. I thought maybe `--silent` was casuing it.

My guess is [create-guten-block](https://github.com/ahmadawais/create-guten-block) would also not work on your problem computer. Can you try that and report back. Coz. it works for everyone and I am using the same installer for WPGulp.

Looking forward!

[2018-09-14 15:36] ahmadawais commented on #112
Also, latest version of WPGulp doesn't require a global installation of `gulp`. That caused issues in the previous versions.

[2018-09-14 15:52] saltnpixels commented on #112
I deleted the node_modules folder and everything and started over and now it works... im confused...
Maybe updating gulp helped? But you said it didn't need to be installed globally.
I dunno....

Now I will test it on the other computer where it was working before!

[2018-09-14 19:13] ahmadawais commented on #112
For sure it was an issue of your npm's permissions inside the node-modules. Can you now try the regular one i.e. `npx wpgulp` and report back before we close this. I'll add it to FAQs.

[2018-09-14 20:58] robmim opened #116 "Cannot find module 'babel-preset-env' from ..."
Since i moved to gulp 4 i can't build vendor and custom js file because of this.

❌  ===> ERROR: Cannot find module 'babel-preset-env' from '/Applications/MAMP/htdocs/eranum/wp-content/themes/eranum'
- Did you mean "@babel/env"?

[2018-09-14 21:09] robmim commented on #116
Ah nevermind. I recreated the setup after upgrading to gulp4. Everything is now fine.

Sorry Ahmad ;)

[2018-09-14 21:10] saltnpixels commented on #112
Yes the regular npx wpgulp did work.
Thanks.

--
Eric Greenfield

On September 14, 2018 at 3:13:58 PM, Ahmad Awais ⚡️ (notifications@github.com(mailto:notifications@github.com)) wrote:

[2018-09-14 21:28] ahmadawais commented on #116
Yes, just reinstall the latest version. You should be fine. It was an earlier error in v2.4 I think. Everything related to babel is not namespaced with `@babel` for obvious reasons after v7.

[2018-09-14 21:28] #116 closed

[2018-09-14 23:08] ahmadawais commented on #112
That's it then. I'll add `remove node_modules` to the list of upgrade method.

[2018-09-21 20:55] robmim opened #117 "Adding js files to vendor folder like on the wpgulp V1 doesnt seem to work"
In version 01 of WPGULP :

I simply drop a js file into the vendor folder and it will be concatenated into a single JS file name vendor.js using the command : GULP

But in version 02, using GULP or NPM START doesnt seem to work. Always get the error:

Uncaught TypeError: Cannot set property 'js-filename-in-vendor-folder' of undefined

GULP, NODE and NPM version
https://www.dropbox.com/s/hv26fhwks4

[2018-09-21 21:26] robmim commented on #117
Do not have others choice to rollback to version 01 until i get this fix.

[2018-09-21 23:46] ahmadawais commented on #117
That console log error shows that one of the vendor scripts you are using is causing a problem and with that I can't help. For my tests the vendors file worked just fine. You should be enqueueing the `.min.js` files for both vendor and custom.

[2018-09-22 00:11] robmim commented on #117
The vendors files i'm using are :

Barba.js
https://github.com/luruke/barba.js

Hunt.js
https://github.com/jeremenichelli/hunt

[2018-09-25 12:34] jerrylee opened #118 "Browser Sync not working"
I love this, just one question, I have set it up, and modified the path to my localhost, and my SASS path. It creates the proper css file, but does not auto reload the browser. Thanks for this cool software.

[2018-09-25 13:48] ahmadawais commented on #118
Glad you liked it. I'll need much more info then this. You have to use the bug report template template of issue and answer all questions.

What did you do, what changes you made, etc. What tools you used.

[2018-10-03 14:03] carlosnpz opened #122 "Error watching files for changes: UNKNOWN"
Hey guys!
I've successfully installed WPGulp, but when I run "gulp" command, I get the following message:

anonymous errored after 4.08s
Error: Error watching files for changes: UNKNOWN
at _errnoException (util.js:992:11)
    at FSEvent.FSWatcher._handle.onchange (fs.js:1359:9)

Can anyone help me solving this?

[2018-10-03 14:17] ahmadawais commented on #122
You have to file a bug with all the info that's asked of you in the template without that it's impossible for anyone to help you. Also make sure you follow the docs https://github.com/ahmadawais/WPGulp#getting-started

[2018-10-03 14:17] #122 closed

[2018-10-03 14:18] #118 closed

[2018-10-03 14:18] ahmadawais commented on #118
Closing it, kindly file with the bug template.

[2018-10-03 14:19] ahmadawais commented on #117
Can you point me to a sample directory where I can test WPGulp with your vendor scripts?

[2018-10-08 19:22] bilalmalkoc commented on #117
I have same problem. When i concatenate with true order (ie. jquery -> popper -> bootstrap) vendor.js sows console error.

[2018-10-08 19:52] ahmadawais commented on #117
I am open to a PR that fixes this issue. Unable to find more time this week.

[2018-10-09 19:09] saltnpixels opened #123 "CSS modified date does not change"
## Bug Report
The CSS files that get output from the sass do not have modified dates, which makes it a bit harder to see that it has worked and compiled them. This used to work in version 1.

### Expected Behavior
style.css and other css files should have modified dates.

Using MAC OS

[2018-10-18 01:21] brytmill opened #126 "npm start returns error and will not build"
## Bug Report

### Expected Behavior

In the theme folder of a fresh WP installation (/wp-content/themes/ulp/), I followed steps 1-3, modifying the wpgulp.config.js line `projectURL: 'localhost/ulp/'` since my site is  accessed locally from http://localhost/ulp/.

I expected the project to build after `npm start` so I could begin working with WP Gulp

### Actual Behavior

After running `npm start`

[2018-10-18 19:33] ahmadawais commented on #126
It says `node` is not recognized so probably your Node and npm installation is not right or updated enough. I am not on windows so I can't test it.

@saqibameen can you help?

[2018-10-19 12:12] jurdanetacom commented on #112
Hi @saltnpixels , I'm having the same exact problem than you:

In the directory: E:\temp\npmtest4
 This might take a couple of minutes.

√ 1. Creating WPGulp files inside →  E:\temp\npmtest4
\ 2. Installing npm packages...C:\Users\CH3\AppData\Roaming\npm-cache\_npx\8600\node_modules\wpgulp\installer\index.js:34
        throw err;
        ^

Error: Command failed: npm install --silent

    at makeE

[2018-10-19 12:15] ahmadawais commented on #112
@jurdanetacom can you delete the `node_modules` folder inside your project and run `npm install` again?

[2018-10-19 12:19] jurdanetacom commented on #112
@ahmadawais there isn't a `node_modules` folder inside the project folder, you mean in \AppData ?

[2018-10-19 17:07] AKdigital opened #127 "BrowserSync and Local by flywheel problems"
npm starts browser sync is trying to access
https://localhost:3000/ and resulting in

localhost unexpectedly closed the connection.

I have
// Project options.
projectURL: 'alonlive.local', - that is my local domain and it works fine when accessing directly.

npm - 6.4.1
CLI version 3.9.1
Local version 3.9.1

Thanks!
---

If you'd like us to keep producing professional free and open source softwar

[2018-10-19 21:33] tarfoot commented on #112
I'm having the same issue with `npx start` even when starting in a completely empty folder.
But `npm install --silent wpgulp` works.

NODE: 10.12.0
NPM: 6.4.1
MACOS: 10.12.6

-----------------------------------
running `npx wpgulp`:

Downloading WPGulp files in: →  tmp

 In the directory: /Users/bradley/Sites/clients/tmp
 This might take a couple of minutes.

✔ 1. Creating WPGulp files inside →  t

[2018-10-19 23:40] brytmill commented on #126
@ahmadawais I've tried both the latest stable version of node for windows v8.12.0 and the latest release v10.12.0 -- neither work.

One thought is that my node is installed on my C drive, and my working WPGulp project is on my D drive. Although, my environment variables are set to the correct path on the C drive so I'm not sure if that has anything to do with it.

Still haven't been able to work i

[2018-10-20 10:30] bilalmalkoc commented on #117
Is that fixed? I can't see in PR.

[2018-10-21 03:12] parys-github commented on #112
Hi guys.
I have exactly the same problem.
After running: npx wpgulp it receives a message:
======================================================================
2. Installing npm packages.../Users/me/.npm/_npx/23630/lib/node_modules/wpgulp/installer/index.js:34
        throw err;
        ^

Error: Command failed: npm install --silent

 at makeError (/Users/me/.npm/_npx/23630/lib/node_modules/wpgu

[2018-10-21 09:12] ahmadawais commented on #112
Several folks were having same issues on Windows — some folks reported updating npm to the latest version fixed it. `npm install --silent` is failing for some reason.

[2018-10-21 10:53] Nervez commented on #112
I'm on windows as well, having the same issue, even after updating npm to the latest version.

[2018-10-21 15:46] saltnpixels opened #128 "Issues with npm start after updating to Mojave on Mac"
**Is your feature request related to a problem? Please describe.**
When I run npm start I get an error:

[code]

I tried running install gulp but got nothing working.
Any ideas?

[2018-10-21 15:49] saltnpixels commented on #128
**Fixed.**

Changed line in package.json from
github:gulpjs/gulp#4.0

to

"gulp": "^4.0.0",

reran npm install.

Or just run:
npm install gulp@next

[2018-10-23 09:21] lspoor commented on #128
I had a similar problem when trying to do npm install caused by `github:gulpjs/gulp#4.0` in my package.json, why is this used and not use `"gulp": "^4.0.0",`

[2018-10-23 14:43] lushkant commented on #112
Having the same problem as the guys above on Windows 10.
Tried both node 8 and 10 but it didn't make any difference. I did follow up with the conversation here but doing so didn't help! :(

[2018-10-23 15:42] gamanox commented on #112
damn, it's there any workaround? thanks a lot, I tried everything in this conversation

[2018-10-23 17:00] kevinhuddy commented on #128
I had problem setting up a project on a new computer this morning and it was caused by the same problem! Fixed by @saltnpixels message.

![screenshot 2018-10-23 12 58 33](https://user-images.githubusercontent.com/41078035/47377493-6b2edc00-d6c3-11e8-9c6b-5a83fac3584d.png)

[2018-10-23 17:13] berlindave commented on #112
Same Problem here:  With `npx install` I get:

[code]
`npm install --silent` is working.

NPM: 6.4.1
NODE: v10.12.0
MAC OSX: 10.11.6

Any suggestions?

[2018-10-23 21:01] tarfoot commented on #112
I think this is solved if you change the reference to gulp in package.json.
It solved it for me anyhow. It does involve running `npm install` after `npx wpgulp` fails.

See issue #128 and the fix in #129

[2018-10-24 00:14] ahmadawais commented on #112
Sorry, folks! I have been super busy. Looks like the latest `npm` had issues with `gulp` and now the recommended way to use gulp 4.0 is to write just that. Thanks @tarfoot for the PR #129 this should now be fixed.

[2018-10-24 00:14] #112 closed

[2018-10-24 00:14] ahmadawais commented on #128
This should be fixed now in #129 otherwise open it again.

[2018-10-24 00:14] #128 closed

[2018-10-24 00:20] ahmadawais commented on #127
SSL is known to cause such issues. Try to disable that?

[2018-10-24 00:20] parys-github commented on #128
Thanks, Ahmad.
Release 2.7.0 fixes all these frustrating problems with the installer :-)
Thanks and respect for you buddy.

[2018-10-24 00:47] ahmadawais commented on #128
@parys-github glad to have helped. Just released v2.8 with another minor fix.

You know you can always [support my open source work →](https://github.com/ahmadawais/WPGulp#support-our-open-source-projects-)

Peace! ✌️

[2018-10-24 00:48] ahmadawais commented on #126
This should be fixed in the latest v2.8 of WPGulp. Try it out and let me know by opening this again if it doesn't work

[2018-10-24 00:48] #126 closed

[2018-10-24 16:40] brytmill commented on #126
Hi @ahmadawais -- thank you. I've just tried steps 0-4 in the original "steps to reproduce" and I am still receiving the same error.

[2018-10-25 00:28] ahmadawais commented on #126
Strange. From reading the error it looks like your node is not being
recognized. Feels more like a Windows + Node issue. I can't reproduce since
I am on mac. Can you try Flywheel Local?

On Wed, Oct 24, 2018, 9:40 PM Bryan Miller <notifications@github.com> wrote:

[2018-10-25 15:50] berlindave opened #130 "Sourcemaps not working"
## Bug Report

### Expected Behavior

Displaying the correct sources in Chrome Inspector.

### Actual Behavior

Displaying just partly main scss file (which is wrong) and partly the copiled css file as sources.

![wrong-sources](https://user-images.githubusercontent.com/16339038/47512865-5c8c2480-d87d-11e8-80ce-5772be607bf7.png)

### Steps to Reproduce

1. `npm start`

[code]

1. `node -v`: v10.12

[2018-10-30 21:45] rw215 opened #131 "Can I use this with a child theme?"
I am trying to set up your wonderful gulp system with a child theme I built from OceanWP. When I run the project within the child theme root it makes wordpress think it's a parent theme and It removes some of my settings.
## Expected Behavior

I assumed it would work as normal in the child theme folder

## Actual Behavior

Is there some easy way of making this work with my child theme? Possibly so

[2018-10-31 05:51] ahmadawais commented on #131
Your child theme setup could be wrong, but there's nothing in WPGulp that would stop you from using it with a child theme or even a Plugin.

Also ` it makes wordpress think it's a parent theme ` this info doesn't help me.

[2018-10-31 05:51] #131 closed

[2018-10-31 05:52] #113 closed

[2018-10-31 05:54] ahmadawais commented on #123
That is strange. What's your use-case. I suppose when the css file changes then your OS should itself pick up the modified date.

[2018-10-31 11:18] rw215 commented on #131
Sorry I wasn't trying to be confusing or anything, it's very odd and I am not sure how to get to the bottom of it. As soon as I run npx once, I get an error message on the WP dash that says I need an index.php for my parent theme. I don't really know how else to explain it, it works fine, run npx, then the child theme shows as a broken parent. If I just set up a simple gulp or grunt project, it se

[2018-10-31 15:14] saltnpixels commented on #123
Wait... Are you saying this does not happen to you?
My use case? I am making a WordPress site. I compile the scss to style.css and the file does not update it's modified date.

[2018-10-31 16:01] ahmadawais commented on #131
I am not sure how I can help with that. Looks like something wrong with how you have setup your child theme. Maybe take a look at this https://github.com/ahmadawais/_child

[2018-11-01 01:35] rw215 commented on #131
Ok, thanks for taking the time to reply.

On Wed, Oct 31, 2018 at 12:10 PM Ahmad Awais ⚡️ <notifications@github.com>
wrote:

--

*Rob Williams*
*Sr. Web Developer*[ 2 one 5 ] Creative <http://2one5.com/>
215.592.7151 : *Headquarters*
*NEW 2018 SHOWREEL <https://www.youtube.com/watch?v=k3o_UslOCdA>*

[2018-11-02 14:03] rw215 commented on #131
Hi Dave,

Just checking in to make sure I can send you some files and assets to test shortly? You can respond if that is an oak way to shoot over.

Thanks and talk to you soon!

Rob Williams
Sr. Web Developer
[ 2 one 5 ] Creative <http://2one5.com/>

215.592.7151 <tel:+1-215-592-7151> : Headquarters
NEW 2018 SHOWREEL <https://www.youtube.com/watch?v=k3o_UslOCdA>

[2018-11-03 13:39] ahmadawais commented on #131
@rw215 that's a personal support request and I cannot do it for free. You can [pay for an hour of my time on open source](https://pay.paddle.com/checkout/515568) and I can look into that for you

[2018-11-03 15:29] rw215 commented on #131
Sorry your email / github accidentally got attached to an email. That
wasn’t even for you. I’m very sorry I don’t even know how that happened.

On Sat, Nov 3, 2018 at 11:27 AM Robert Williams <robert.williams@2one5.com>
wrote:

--

*Rob Williams*
*Sr. Web Developer*[ 2 one 5 ] Creative <http://2one5.com/>
215.592.7151 : *Headquarters*
*NEW 2018 SHOWREEL <https://www.youtube.com/watch?v=k3o_UslOCdA

[2018-11-03 22:50] parys-github commented on #131
Hi Ahmad.
I am aware that my configuration is not correct in several aspects. Building this template I focused mainly on solving problems with JS regards scrolling each subpage as 100vh block, which also looks good on mobile devices, the second problem that I wanted to solve this loading of independent Wordpress PAGE's as once-loaded DOM.
In general, my theme was designed more for developers than

[2018-11-04 04:08] ahmadawais commented on #131
@parys-github that's very nice of you to say. 👌😇

[2018-11-07 22:32] parys-github opened #132 "custom.js and vendor.js files are not executed with "use strict"; on the top of "Gulped" files."
Hi guys.
I started working with WPGulp a few weeks ago and in my two previous projects, everything works perfectly.  Unfortunately, in the current project, I have a very frustrating problem. Every time when compiling JS files at the beginning of the code an extra line is added: **"use strict";**

This causes my JS files not to be executable. When I manually remove **"use strict";** from production

[2018-11-11 19:48] Alecto commented on #130
similar problem. The map is not built correctly.

[2018-11-11 21:54] parys-github commented on #130
I noticed that I have exactly the same problem. SourceMap only recognizes the main style file. It does not recognize the structure of individual .scss files.
My specs.
node -v: v10.12.0
npm -v: 6.4.1
WPGulp V. 2.8.0
Operating system: OSX 10.13.6

[2018-11-14 16:03] saltnpixels opened #133 "Remove console logs from the custom.min"
It would be nice if logs and debugging won't show up in minified scripts. So the custom.min.js should not have any debugging

This should work if added.
https://www.npmjs.com/package/gulp-strip-debug

[2018-11-14 18:03] saltnpixels commented on #123
Any news on this?
I am still having this usse. I use Mac OS Mojave. The css files when compiled do not update their modified dates.

[2018-11-18 21:40] parys-github commented on #132
If anyone has any ideas how to fix that troublesome problem please let me know?

[2018-11-25 23:49] shadtek commented on #130
@berlindave Are you trying to say that this is a temp fix? I tried commenting out the line like you suggested but that didn't do anything.

[2018-11-26 08:20] commwork commented on #130
I had this problem a while ago, too. Some mixin was the problem. Maybe check that.

[2018-11-26 08:46] berlindave commented on #130
Exactly.

I'm sorry to read that. Very strange. That's what I got after commenting out that line
 as described (compare to screenshot in the initial post):

![screenshot](https://user-images.githubusercontent.com/16339038/49002509-110cb500-f160-11e8-9031-7aee55923692.png)

[2018-12-07 23:53] lewcrewco commented on #24
I was reviewing the v2+ notes and couldn't find the resolution for this issue. Was there a production build process added? was it done in some other way I'm just missing?

[2018-12-10 11:45] commwork commented on #130
Tried the new NPX Gulp now, too. Same problem. Doing this:
`// .pipe( autoprefixer( config.BROWSERS_LIST ) )`
Does not help.

Node: 9.11.2
NPM: 6.4.1
Newsest Chrome + FF
Windows 10

[2018-12-10 12:50] ahmadawais commented on #130
Happy to accept a fix via PR. I am on vacations.

[2018-12-29 06:53] zuopengz commented on #130
More clues:
At the bottom of the generated css files, there are 2 sourceMappingURL.
After removing the 2nd one manually, it works fine.
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjoz ...
/*# sourceMappingURL=style.css.map */

[2019-01-04 14:55] PurpleHippoDesign commented on #123
I am having the same issue

[2019-01-06 02:10] polishedwp commented on #127
@AKdigital Did you get any resolution? For what is worth, I was having the same issue with Valet. But when I included the protocol in the config, it now works just fine:

`projectURL: 'https://sandboxwp.test',`

[2019-01-08 23:16] parys-github commented on #130
[berlindave](https://github.com/berlindave), your solution working good but I suppose this is an only temporary solution because you losing all browsers prefixes.  Honestly not really useful :-/
Did anyone try to figure out how to fix it?

[2019-01-09 17:45] bilalmalkoc opened #136 "Not compile js files correctly"
I placed bootstrap.js and popper.js into vendor folder. And enqueued vendor.min.js. But it shows `Uncaught TypeError: $ is not a function at vendor.min.js` error in console.

[2019-01-10 09:34] prncdahal opened #137 "It automatically including bootstrap js code in vendor.js file while there's no bootstrap.js file in vendor folder."
![image](https://user-images.githubusercontent.com/9000998/50959429-0da07380-14eb-11e9-8d4f-1b873b343f9c.png)

[2019-01-10 20:16] wowthemesnet commented on #137
I'd rename the vendor files with the order I want:
1-popper.min.js
2-bootstrap.min.js

Then `npm start` again.

[2019-01-11 04:11] #137 closed

[2019-01-11 04:14] prncdahal commented on #136
@bilalmalkoc  I did had same issue then i have to comment out some config code in order to run. Plz refer to screenshot.
![image](https://user-images.githubusercontent.com/9000998/51012846-70dfe380-1587-11e9-81d3-ec286b3b1c68.png)

[2019-01-15 12:49] tnchuntic commented on #110
I am experiencing this too :(

No code changes on my part just testing the WPGulp.

Its a bit weird because of I can access port 3001 for the browser sync UI but for the dev website its not working.
UI:
https://snag.gy/OplCrA.jpg
Dev site:
https://snag.gy/hBK1Sv.jpg

Terminal
https://snag.gy/zpIAtr.jpg

[2019-01-15 12:51] commwork commented on #110
I had this problem when using another terminal, with CMD or Pwershell no problem (Windows 10).

[2019-01-31 21:41] bEnnAbEEL opened #138 "How to use bower files in END PRODUCT"
I have a very serious question posted here regarding your article.
https://stackoverflow.com/questions/54469515/how-to-include-bower-components-files-css-js-from-any-framework-in-end-product

Can you please have a look and let help me out here.

[2019-02-02 05:59] hhasan16 opened #139 "Requiring external module @babel/register"
I follow your instruction, but unfortunately i got an errror says

`Requiring external module @babel/register`

Also browser preview not work.
I use laragon for dev server

[2019-02-06 10:45] antonkeller commented on #130
I simply commented line 128 & 129 and things just worked :)
//.pipe( sourcemaps.write({ includeContent: false }) )
//.pipe( sourcemaps.init({ loadMaps: true }) )

Anything I should know with this quick fix?

[2019-02-06 14:24] mware commented on #130
@antonkeller fix worked for me on at least one test project.
Thx

[2019-02-11 06:48] antonkeller commented on #139
FYI this is normal, in order to compile from ES6 syntax to JS.
You have the same problem as me and I didn't find the time to fix it yet and it can take up to a few minutes to register on my machine depending on project!! Crazy as some guys have it loaded in just 2 seconds.
I need to check it on a new mac to see if it improves but for now I run on Mamp pro latest, Node v10.11.0 with latest WPGulp (

[2019-02-18 06:36] berlindave commented on #130
@antonkeller Great, worked also for me in one test project so far!

[2019-02-18 06:38] berlindave commented on #130
Yes, of course, it's just whatt I call a "cheesy workaround", far away from a real solution.
Did you try the solution by @antonkeller? https://github.com/ahmadawais/WPGulp/issues/130#issuecomment-460978784

[2019-02-22 23:05] robmim commented on #117
Hi @ahmadawais,

There an article that explain the issue here

https://stackoverflow.com/questions/51307582/barba-is-not-defined-error

[2019-02-28 21:10] saltnpixels opened #140 "Translate is not running"
## Bug Report
I noticed the translate task is not set up to run. Not sure if this is on purpose?
### Expected Behavior
Well it should compile into a languages folder.

### Actual Behavior
Nothing happens

[2019-03-01 01:13] ahmadawais commented on #140
You have to share what you ran in the actual behavior heading instead of saying it doesn't work.

Did you try and read this

https://github.com/ahmadawais/WPGulp/blob/master/README.md#-optional-step-4--more-scriptstasks

[2019-03-01 01:16] saltnpixels commented on #140
Ah. So translate is not set to be watched?
I have to run gulp translate.
I figured it was by mistake missing from the gulp is file because it was not compiling when the php files changed.

Eric Greenfield
On Feb 28, 2019, 8:13 PM -0500, Ahmad Awais ⚡️ <notifications@github.com>, wrote:

[2019-03-01 01:19] ahmadawais commented on #140
It's a good practice to read to docs b3fo5re issues to see if it was intentional 😂

[2019-03-01 01:19] #140 closed

[2019-03-01 14:49] mykt0ngc0 commented on #136
@prncdahal 's solution works for me. Thanks man!

[2019-03-02 14:36] mykt0ngc0 commented on #117
It appears that some vendor files don't go well with gulp-babel.

Commenting out the `babel` `pipe` on `vendorsJS` `task` does the trick for me. 👇

![untitled](https://user-images.githubusercontent.com/14344154/53683248-8ed0f580-3d39-11e9-82dd-309dd4798361.png)

Source: [**prncdahal**](https://github.com/ahmadawais/WPGulp/issues/136#issuecomment-453372574) on issue #136

[2019-03-02 14:41] mykt0ngc0 commented on #132
Try this simple trick here 👉 https://github.com/ahmadawais/WPGulp/issues/117#issuecomment-468925970

[2019-03-04 23:50] robmim commented on #117
@mykt0ngc0 indeed this work great. Thanks !!!

[2019-03-04 23:50] #117 closed

[2019-03-16 03:18] WPGulpPro commented on #107
When are you going to update your dependencies? WPGulp is extremely outdated. Why?

[2019-03-16 03:20] WPGulpPro opened #141 "Outdated Dependencies"
Why is your project full of outdated dependencies? This is not a professional gulp workflow. You need to update it and fix the bugs.

[2019-03-16 03:25] WPGulpPro opened #142 "(Bad boy admin@snapgravy.com Gregory Matthews)"
The CSS produced by your SASS workflow produces incorrect CSS declarations. Fix ASAP.

[2019-03-16 03:31] parys-github commented on #141
What exactly you mean? Which one project you talking about?

[2019-03-16 04:02] WPGulpPro commented on #141
WPGulp

[2019-03-16 04:13] parys-github commented on #141
Actually, this is not my project but according to my current knowledge, WPGulp project is updated to the latest available version. Anyway, I see everything works very well with the latest components ;-)

[2019-03-16 04:15] WPGulpPro commented on #141
Dependencies in package.json file are outdated making it an unstable code base.

[2019-03-16 04:18] ahmadawais commented on #142
The funniest thing is happening — that's bad — Gregory Matthews(admin@snapgravy.com) after being unable to bully me into getting free of cost support for my open source work is trying to spam my repositories with a fake GitHub profile.

Reported your fake profile :)

Also, let me send you the message you crafted for me when you couldn't pay up.

### This message is being returned undelivered due t

[2019-03-16 04:20] parys-github commented on #141
Honestly speaking is working perfectly for me.

[2019-03-16 04:20] ahmadawais commented on #141
(Bad boy admin@snapgravy.com — Gregory Matthews)

Don't worry about it @parys-github — The funniest thing is happening — that's bad — Gregory Matthews(admin@snapgravy.com) after being unable to bully me into getting free of cost support for my open source work is trying to spam my repositories with a fake GitHub profile, that's also named after my project haha.

Reported your fake profile :)

Also

[2019-03-16 04:21] ahmadawais commented on #141
LOL 🤣

[2019-03-16 04:26] #142 closed

[2019-03-22 09:21] keramzyt commented on #130
Same here but solution by @antonkeller is working fine and not loosing autoprefixer functionality.
Strange is that code even without fix works fine on Safari dev tools on OSX 10.14.3

[2019-03-25 07:53] keramzyt commented on #123
The same issue here

[2019-03-29 19:57] claytoncollie opened #144 "Comment header in compiled styelsheet does allow WP to recognize theme"
Hi there. Getting started with WP Gulp and really like it. Thank you very much for your hard work.

I was pulling my hair out trying to figure out why I could not load my page templates when creating a post, then I remembered that the style.css and style.min.css files change the comment header when in `compact` mode.

Is this normal behavior? Is there a way to get a compact stylesheet without it t

[2019-03-29 20:11] ahmadawais commented on #144
That's very kind of you to say! 🙌

Nice catch. Your theme comment should have a `!` in it to be not removed.

Just start your theme comment block like this.

[code]

[2019-03-29 20:11] #144 closed

[2019-03-29 20:11] ahmadawais commented on #144
If you like my work, consider supporting it by purchasing [VSCode Power User Course →](https://VSCode.pro)

[2019-03-29 21:37] claytoncollie commented on #144
Thanks for that. I already have the exclamation.

The comments are there and always have been. It is not that it is being removed. it is being minified which is causing the error/ WP not being able to read it properly.

[2019-03-30 16:50] ahmadawais commented on #144
Comments are not minified after you add a `!` bang sign. Without you sharing more like code and all with what you see on your end I can't say much.

[2019-04-01 18:20] ametthey commented on #132
It's not working for me! :( any other solutions ?

[2019-04-10 23:27] mkreckovic commented on #130
I had the same problem, and I solved it by adding `.pipe(sourcemaps.identityMap())` after `.pipe(sourcemaps.init())`.

[2019-04-20 02:04] jmachub commented on #130
Works fine with firefox, but not with chrome. Tried all of the solutions above to no avail.

[2019-04-23 08:21] Suzakura commented on #103
I also want this feature.
When will it be adopted in the official version?

[2019-05-09 14:10] hegemanjr commented on #103
+1

[2019-05-12 04:37] billNugz opened #145 "gulp.bable.js not reading config vars"
I have followed the install instructions, but for what ever reason the gulp.bable.js file doesn't seem to be talking to the wpgulp.config.js file.

As an example I have to change my browser-sync init to the following to get browser to reload

browserSync.init({
		//proxy: config.projectURL,
		//open: config.browserAutoOpen,
		//injectChanges: config.injectChanges,
		proxy: 'dev.priebe.test',
		ope

[2019-05-12 04:53] billNugz commented on #145
I had things configured wrong, apologies, feel free to point and laugh at your screen now.

[2019-05-12 04:53] #145 closed

[2019-05-15 18:12] gabyferman commented on #103
+1

[2019-05-21 05:50] likethegoddess opened #146 "Processing stops after "Finished 'vendor.js' after"
## Bug Report

### Expected Behavior

(Write what you thought would happen.)
I expected WPGulp to complete processing.

### Actual Behavior

(Write what happened. Please add screenshots!)
I installed WPGulp according to instructions, including setting `projectURL: 'localhost/ltgbase'`.

On npm start, processing stopped after the `Finished 'vendor.JS' after` line. Browsersync is listed as proxying

[2019-05-22 16:36] isvictorious commented on #127
@AKdigital  This is a known issue with the .local domains on OSX. For all new sites, I recommend using .test or local.yoursite.com.

Issue with .local is it has some loop back that causes connection issues.

[2019-05-22 16:38] isvictorious commented on #103
I see an approved PR for this in #125 - how can we get it merged?

[2019-06-22 12:01] Tom-Hayes opened #148 "SyntaxError in plugin "gulp-notify""
## Bug Report

I've updated the config file and when I run`npm start` everything seems to run ok the first time (and compiles SASS)... but then when it reaches the end (after `STYLES - completed!` I get the error and the task doesn't seem to continue watching/compiling files:

[code]

I'm on OSX Mojave 10.14.5 and using a Docker container.

I've installed `notify-send` in the project with `npm ins

[2019-06-22 12:14] ahmadawais commented on #148
Your configuration might have a syntax error. Did you check that?

[2019-06-22 12:49] Tom-Hayes commented on #148
Hmmm I think it's all ok...

[code]

[2019-06-22 20:15] JeremyEnglert commented on #148
The error you're getting and the fact you made config changes makes me think this is a config issue, but your config looks fine and the config file isn't JSON (which the error points to).

If you go back to the default config file, do you still have the issue?

[2019-06-22 20:18] JeremyEnglert commented on #138
You have multiple options.

1. Just upload the bower files. I'm not understanding why you can't do this.
2. Bundle all of the bower files into a single JS file that lives in your theme instead of in the bower directory.
3. Setup gulp to move the bower files you want into a different directory.

You have multiple options. It's just whatever works best for you.

[2019-06-22 20:18] #138 closed

[2019-06-23 04:35] edmundcwm opened #149 "CSS background-image:url not displaying"
Hi there,

Thanks for creating this amazing tool. I'm having some issues displaying images when using background-image: url();

This is the markup I'm using:
`<div style="background-image: url(<?php echo $hero_image; ?>);"></div>`

And the output is:
`<div style="background-image: url(//localhost:3000/myproject/wp-content/uploads/2019/06/myimage.jpg);"></div>`

Any idea what I'm missing?

Apprecia

[2019-06-23 04:44] edmundcwm commented on #149
Sorry I realise i didn't load my CSS styles that's why the bg image is not appearing! Gonna close this for now

[2019-06-23 04:44] #149 closed

[2019-06-23 05:24] edmundcwm opened #150 "using @import in main .scss file"
Hello @ahmadawais,

New Gulp user here. Thanks for creating this amazing tool.

I'm intending to create various css files i.e., partials and import them in the main .scss file which is being watched.

Is there a way to do auto-reload for those partials .css files?

[2019-06-23 06:36] edmundcwm commented on #150
Managed to do it by using the .scss extension for my partial files instead of .css!

[2019-06-23 06:36] #150 closed

[2019-06-23 06:55] edmundcwm opened #151 "Exclude admin pages from Browsersync"
Hello all,

is it possible to prevent admin pages from auto-reloading?

[2019-06-23 11:31] Tom-Hayes commented on #148
Changed back to the default config file and still getting the same issue!

[2019-06-23 11:33] Tom-Hayes commented on #148
As it seems to be a issue with the notification system, is there a way I can just disable this? messages in the command line are enough for me!

[2019-06-24 14:35] ahmadawais commented on #148
Feel free to contribute a setting that is checked when writing messages.
Your contributions are welcomed.

[2019-07-08 13:52] lspoor commented on #151
Just don't access the admin pages via the browsersync server?

[2019-07-22 23:08] likethegoddess opened #152 "npm start fails with XAMPP on Windows 10"
## Bug Report

### Expected Behavior

Expect that `npm start` in PowerShell within the theme directory to prepare WPGulp to compile Sass.

### Actual Behavior

`npm start` received the following error message:

`> your-project@1.0.0 start C:\xampp\htdocs\likethegoddess\wp-content\themes\likethegoddess

assert.js:339
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specif

[2019-08-01 11:08] CatinhoCR commented on #132
Having this issue when trying to import jquery

[2019-08-01 11:15] CatinhoCR commented on #136
This is not working for me.. What's the correct way to import JS 3rd party libraries?
Im trying to import jquery, popper and bootstrap js files.

I would like to require these into a single vendor file maybe, I don't mind having to paste the dist files from each though but I am not being able to do either so any help would be highly appreciated.

[2019-08-01 11:44] CatinhoCR commented on #25
Are you doing this in the wpgulp.config file?

[2019-08-01 12:17] CatinhoCR opened #154 "Exports is not defined on vendor.min.js"
Hey there.

I am placing popper.js and bootstrap.js into the vendor folder, it compiles correctly it seems since bootstrap components are working but I get a console error (browser) that says:
`Uncaught ReferenceError: exports is not defined`

What might this be about?? Any ideas?

Thanks for the awesome work on this project, I still am a bit new using some of these technologies but will look into

[2019-08-23 22:56] WRCarlile commented on #61
Hi not sure if this is already in the works but is it possible to update without overwriting the local wpgulp.config.js file?

[2019-08-24 09:04] ahmadawais commented on #61
If you have a config file then you are already using the latest version.

On Sat, Aug 24, 2019, 3:56 AM Ryan Carlile <notifications@github.com> wrote:

[2019-08-24 17:22] WRCarlile commented on #61
Oh I must of been using 2.0. I went back to work on a project from a few
months ago. I updated and it replaced my config file and I had to get it
from a previous commit.

On Sat, Aug 24, 2019, 2:04 AM Ahmad Awais ⚡️ <notifications@github.com
wrote:

[2019-09-10 16:10] asmundsollihogda opened #155 "Disable notifications like "STYLES - completed!""
Thank you for creating this great asset for a minimalistic wordpress workflow. I've just started using it and are very happy.

I was wondering if there is a simple way to prevent my mac os notifications for successful CSS etc? I have tried to remove the line:
`.pipe( notify({ message: '\n\n✅  ===> STYLES — completed!!\n', onLast: true }) );`
...from gulpfile.babel.js without success. Nothing is ha

[2019-09-25 18:21] kevinhuddy commented on #155
Hi @asmundsollihogda you need to re-run npm start after removing some code to wpgulp for it to take action.

[2019-09-26 12:08] asmundsollihogda commented on #155
Thanks @kevinhuddy, that works like a charm :)

[2019-09-26 21:03] #155 closed

[2019-09-30 22:24] robmim commented on #154
I had the same last week. The issue here is that you trying to run CommonJS code (transpiled from ES6 export) in the browser without preparation. CommonJS doesn't run on the browser, you need to use a tool to package it for the browser, such as Webpack or Browserify.

My fix for this is to use webpack-stream like this

const webpack = require('webpack-stream');

https://www.dropbox.com/s/64ai82uwj

[2019-09-30 22:46] robmim commented on #154
The answer is here. Simply comment the babel piping and you should be fine.

#117

[2019-10-01 12:45] ashbryant commented on #127
I'm having issues with this also and would like to know how to fix it.

[2019-10-01 12:48] ashbryant commented on #110
Yep, I'm having issues with this also (mac) I can view :3001 fine but nothing else

[2019-10-03 10:03] ashbryant opened #158 "Changes in SCSS files not recompiling & injecting in to browsers"
## Bug Report

### Expected Behavior

Changing .scss file content & saving would trigger a recompile of styles and an injection into the browser(s).

### Actual Behavior

npm start compiles all files, changes to scss files after doesn't update changes. All other files being watched are working recompiled as expected

### Steps to Reproduce

wpgulp.config.js
`// Style options.
	styleSRC: './assets/

[2019-10-03 10:46] #158 closed

[2019-10-08 15:13] arnoldbird opened #162 "how to configure project variables to compile from multiple SASS directories"
I'm having trouble getting started with WPGulp.  Have installed it successfully, but it's not clear how to do step 2 in the README, "Editing the Project Variables."

I can get my main style.scss file to compile to style.css, but this is not very useful.  I need gulp to compile multiple SCSS files into my style.css.

My directory structure is like...

my_theme/style.css
my_theme/sass/style.scss
my_

[2019-10-08 15:17] robmim commented on #162
Why not simply include thoses subdirectory files inside your style.scss and then set your style.scss as primary source for your css ?

[2019-10-08 16:35] ahmadawais commented on #162
Import all these files in one single `styles.scss` file. That should do it.

[2019-10-08 16:35] #162 closed

[2019-10-08 16:45] arnoldbird commented on #162
Thanks!  That's it exactly.

[2019-10-18 15:25] max-cmoa commented on #139
I have a similar issue. Here is the console message

Requiring external module @babel/register
/Users/edelsteinm/Local Sites/cmoa2019/app/public/wp-content/themes/cmoa/node_modules/@babel/core/lib
/config/config-descriptors.js:178
    throw new Error(`Plugin/Preset files are not allowed to export objects, only functions. In ${file
path}`);
    ^

Error: Plugin/Preset files are not allowed to expor

[2019-11-05 13:50] julie-impuls commented on #25
How should you do this with the latest version of WPGulp?

[2019-11-07 14:43] LittleHamster opened #173 "Include web fonts"
thanks for this great tool.
my files are locates in the root/assets folder where I have a folder called fonts (root/assets/fonts)
In my sass file, I am loading the font

[code]

I changed the setting so the compiled files are now in root/compiled

[code]

but now in console I get errors
[code]

what is the best way to include fonts in the theme and sass file?

[2019-11-07 16:54] LittleHamster opened #174 "Include jQuery as a vendor and disable WP Default jQuery"
Is it possible to add jquery as a vendor? so latest version is always loaded and concatenated to the vendor.min.js file. Then we can disable WP Default jQuery since it is already loaded

[2019-11-12 02:15] jamieschmid commented on #103
Pinging this! I just duplicated style-RTL to generate basically the same files as @cdils although not very elegantly. Are there any roadblocks on this merge, I'd love to try it out!

[2019-11-12 04:13] ahmadawais commented on #103
None beyond time. If you can test this and review the PR it will help.

[2019-11-12 15:21] jeffceriello commented on #25
I am also struggling with this. Any solutions?

[2019-11-14 22:36] shahalom opened #175 "WPGulp does not generating editor-style.css even though I create editor-style.scss"
Hello @ahmadawais Bhai,
Thank you for the nice FOSS.

**Is your feature request related to a problem? Please describe.**
This is the first time I am trying to work with WPGulp. I have created `style.scss` and `editor-style.scss` file. Problem is the WPGulp only generating the `style.css`.

**Describe the solution you'd like**
I am not sure If I am missing something to generate the `editor-style.sc

[2019-11-18 16:49] AndreaBarghigiani commented on #158
Hi @ashbryant why did you close this issue? Have you solve it?

I usually work with WPGulp but lately I have your same issue. Even if I edit my main `style.scss` file it looks to me that Gulp does not watch my changes.

How did you solve it?

[2019-11-18 17:11] AndreaBarghigiani commented on #175
Hi @shahalom,
WPGulp only generates the `style.css` by preprocessing the `style.scss` file and all the files imported into it.

There are previous issues about compiling multiple SCSS files and there is also a [pull request](https://github.com/ahmadawais/WPGulp/pull/125) waiting to be merged.

We need to help the creator by testing this PR. Ahmad [asked for feedback](https://github.com/ahmadawais/

[2019-11-18 17:31] AndreaBarghigiani opened #176 "Not watching SCSS changes on new installations"
###  Bug Report
I have installed WPGulp with `npm wpgulp` on a fresh theme and start using it with `npm start` after I've edited the `wpgulp.config.js` file but when I save some changes on my SCSS files Gulp does not compile them in a new `style.css` file.

### Expected Behavior
Watching any changes in my SCSS files.

### Actual Behavior
WPGulp runs once when I type `npm start` and does not run th

[2019-11-20 11:52] AndreaBarghigiani commented on #103
I've tested this PR and for me is it working like a charm! Thanks @mintbird for your work!

[2019-11-26 02:47] jameelevans commented on #93
Cant wait to see what you have in store

[2019-11-26 08:05] ahmadawais commented on #93
Check out my WordSesh talk from 2018. https://WordSesh 2018.ahmadawais.com and you'll be able to set it up.

[2019-11-26 21:49] RyanCadby commented on #110
I am having the same issue, wpgulp works on my windows pc but does not work on my mac. Everything seems to compile fine but the browser just refreshes endlessly... I have cleared my dns cache and changed my host file. nothing seems to work

[2019-12-08 12:43] RaimonxDev opened #177 "Doubts for installation"
Hello, Good morning excellent work I discovered it and I found it excellent. Congratulations.

But I have a question at the time of installation, the command "npx wpgulp" has to be executed in the root folder or inside the root / src folder, I confused that part a bit which would be the right thing.
###

-  root -> npx wpgulp
or
-  root / src -> npx wpgulp

Thank you.
PD: I speak Spanish, and the

[2019-12-08 23:40] ahmadawais commented on #177
Follow the directions here https://github.com/ahmadawais/WPGulp#getting-started

Root of your theme or plugin that is where run this.

[2019-12-08 23:40] #177 closed

[2019-12-09 18:16] Va2 opened #178 "WP nav menu links working but throwing error: Uncaught Error: Syntax error, unrecognized expression: http://localhost:3000/theme_name/"
Since 2 days I have had a very strange error when I put my main menu in WP. I tried 2 different ways, the first one using the WP functions (register_nav_menus & wp_nav_menu). And the second way by simply putting the urls (`"http://localhost:8888/theme_name/"`, ...) in the href of the links.
The weird thing is that both ways are working and have almost the same error msg:

Error in the first way (W

[2019-12-15 01:49] Epistol opened #179 "CVE-2019-10744with lodash.template loaded via gulp-util"
### Expected Behavior

Getting alerts from security check when implementing WPGulp =>  CVE-2019-10744

Via my repo https://github.com/Epistol/ModernWP

[2019-12-30 16:15] kumaillakhani opened #180 "npm start fails when implementing it on existing theme"
### **My wpgulp.config.js file**
[code]

---
### **Terminal:**

---
### **Log file:**

[2020-01-05 19:29] benjaminadk commented on #127
The BrowserSync is confusing. I'm using XAMPP at localhost/wp_vs_532 and put that in the config file. But hot reloads weren't working. I noticed the message about port 3000 and tried localhost:3000/wp_vs_532 and now it works. I know Apache is on ports 80 and 443 so it seems like wpgulp takes the input url and spits out updates over port 3000 of that url???

[2020-01-13 16:37] davision commented on #152
Same issue here on Mac.

[2020-01-27 17:31] LittleHamster opened #182 "Image sprites support"
Image sprites support will be awesome

[2020-02-07 04:17] kleytoncaires commented on #154
#117 doesnt work for me

[2020-02-07 04:17] kleytoncaires commented on #154
#117 doesnt work for me

[2020-02-07 04:22] kleytoncaires commented on #117
doesnt work for me

[2020-02-15 11:14] vzRowan commented on #180
I have the same issue, did you find a solution yet?

[2020-02-22 11:17] CatinhoCR commented on #154
Doesnt work for me either

[2020-03-02 16:28] wazynski commented on #176
Having the exact same issue:

node -v: v11.15.0
npm -v: 6.10.3
Operating system: MacOS Mojave 10.14.6

[2020-03-04 16:28] jmccall75 opened #183 "Errors on intall and start"
I am getting the following errors when running npx wpgulp

[code]

And then if I run npm start, I get these errors:

[code]

I'm a little inexperienced with npm and etc., so it's possible this is a problem on my end.

1. `node -v`: v9.11.1
2. `npm -v`: 6.7.0
3. `yarn --version` (if you use Yarn):

Then, specify:

1. Operating system: Windows 10
2. Browser and version (if relevant):

**Possible Sol

[2020-03-04 17:37] ahmadawais commented on #183
You should probably update your node version. You are using one that has no support at all. You should be using min v12. [https://nodejs.org/en/download/](https://nodejs.org/en/download/)

[2020-03-04 17:45] jmccall75 commented on #183
You're right. I upgraded node and npm to the latest and there errors seem to have gone away. Thought there was a good chance the problem was me. :)

[2020-03-04 17:45] #183 closed

[2020-03-04 17:45] ahmadawais commented on #183
Glad it helped :)

[2020-03-09 16:03] imaarmstrong opened #184 "Sass Glob"
Is there a way to implement **_gulp-sass-glob_** so I can import directories?

I want to be able to do this

`// Import Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

// Import our variables
@import "/defaults/*.scss";
// Import our block styles
@import "theme-overrides/*.scss";`

Thanks.

[2020-03-09 16:08] #184 closed

[2020-03-09 16:08] imaarmstrong commented on #184
Sorry, found where it needs to go. Sorry for that

[2020-03-10 05:16] mykt0ngc0 commented on #151
![3rzstg](https://user-images.githubusercontent.com/14344154/76281814-2b28c300-62d1-11ea-9c10-be437b3fc2de.jpg)

[2020-03-10 05:37] mykt0ngc0 commented on #127
Updating Local to the latest version might help.
https://localwp.com/releases/

[2020-04-03 16:05] multimedianj commented on #180
Same issue. Images and CSS compilation is working. When I put my path of JS files to compile, that's when the error message appears **Did you forget to signal async completion?**.

It seems to be a problem since Gulp4 that has to be resolved like this : https://stackoverflow.com/questions/36897877/gulp-error-the-following-tasks-did-not-complete-did-you-forget-to-signal-async#answer-36899424

[2020-04-03 16:36] multimedianj commented on #180
I commented all the task to see if I get the error again, it really seems that this task causes the error : ```gulp.watch( config.watchJsCustom, gulp.series( 'customJS', reload ) );```

And it seems like in the task, this pipe is causing a problem :
[code]

[2020-04-06 01:12] #132 closed

[2020-04-06 01:12] parys-github commented on #132
Seams to be OK.

[2020-04-09 20:08] Elschnuppero commented on #130
Doesnt work on FF nor Chrome.

[2020-04-10 10:56] CatinhoCR commented on #176
Is this still a thing?

[2020-04-13 14:28] seanrasmussen opened #185 "Adjust WPGulp workflow for modern Gutenberg theme development"
I love the ease of use of WPGulp. But the assumptions about typical usage seem to be a bit outdated now. A single monolithic CSS and single JS file aren't really best practice any more. But, aside from that design decision, adding an editor style sheet for Gutenberg, using Sass partials is not part of workflow. It means I have to jerry-rig another solution to create my editor styles from the Sass

[2020-04-22 09:13] elharony commented on #110
This issue still exists. It keeps refreshing endlessly, just like @RyanCadby

[2020-04-22 09:59] elharony commented on #110
For anyone still facing this issue, it's because the `projectURL` wrong value.

How do you access your WordPress Project? Let's say it's inside `xampp/htdocs/projects/new-wordpress-site/` and in order to access it using localhost, you type: `localhost/projects/new-wordpress-site/`.

Copy that path, and give it to `projectURL` so it can access your Project Files.

❌ `projectURL: 'localhost:3000'`
❌

[2020-06-04 09:44] CatinhoCR opened #186 "Is this project being maintained?"
First of all thanks for this project. I've used a few times to setup some small projects and it's great starting point.. With that said,

I'm pretty sure this is quite an extensive project to keep up to date by one person, or even a small team. Im also pretty sure there's many people like me who would love to help out around maintaining it.. Im not sure what the goals, intentions or current projec

[2020-06-13 13:38] jeni1616 commented on #186
May be try contact author via https://twitter.com/MrAhmadAwais/

[2020-06-24 08:52] sschat commented on #173
i ran into this too, so i added the copy task for fonts:

`/**
 * copy the fonts to the dist
 */

gulp.task('fonts', function (done) {
	return gulp.src(config.fontSRC)
		.pipe(plumber({errorHandler: errorHandler}))
		.pipe(gulp.dest(config.fontDST));
});
`

Add this to the tasks in the gulp files on the right places, and to the default task.
Plus make sure the css is pointing to this folder as it

[2020-06-25 11:51] ahmadawais commented on #186
Hi @CatinhoCR
This project is close to my heart because it was one of oldest open source projects. I try my best to maintain it but I have over 200 open source projects.

There are multiple ways you can help me with that.

1. [Buy my courses of sponsor my work](https://github.com/AhmadAwais/sponsor)
2. Help out by managing the repo, triaging issues, and building/improving code

Let me know.

[2020-07-14 00:41] #186 closed

[2020-07-16 01:00] CatinhoCR commented on #186
Sorry I lost track of this, appreciate man. Your project has served me well for a long time. I was thinking about helping you maintain this back when I posted this but things have took me on a different direction since then and I'd rather not commit myself since time is tight lately in here.
Again though, thanks for making this and sharing it ! It saved me quite a few times.

Would you be open to

[2020-07-26 00:10] isvictorious commented on #185
@seanrasmussen have you seen this Issue? If you read the PR it's the exact solution you're looking for https://github.com/ahmadawais/WPGulp/issues/103

[2020-07-26 22:52] seanrasmussen commented on #185
Thanks @isvictorious ... I'll take a look at that...

[2020-08-01 21:16] danderozier commented on #144
For anyone else who comes across this issue — in order to preserve the commend _and_ avoid minification, specific formatting is required. Each line must start at the beginning of the line; any spaces or asterisks included before each line will cause SASS to minify the comment.

This works:
[code]

These do not work:
[code]

[2020-08-02 03:47] DeoThemes commented on #130
Same here, none of the solutions worked for me. When I run npm start it compiles everything, but my browser doesn't see any of the source maps, it's simply pointing to styles.min.css. I think the problem here is that source map is created for regular unminified CSS, while  there is source map for minified CSS.

[2020-08-03 15:16] claytoncollie commented on #144
Thanks @danderozier for the extra info. Very much appreciated.

[2020-08-14 11:39] valeriafuziySH commented on #136
Thanks @prncdahal, works for me too!

[2020-08-18 16:49] sparkbold opened #187 "Found 33 vulnerabilities (15 low, 6 moderate, 12 high)"
I found 12 high security issues with all the dependencies in the package.
I just wonder if there is any plan on update it.

I have tried `npm audit fix`

[2020-09-02 02:32] jamieschmid opened #188 "Add a build/deploy functionality"
**Is your feature request related to a problem? Please describe.**
After developing, you need to remove a lot of files, and zip the folder in order to upload to WP if you are doing a manual process. This means removing sass folder, any compiler files, node_modules, maybe a docs folder etc. A way to deploy a production build within a new directory would complete this tool I believe!

**Describe the

[2020-09-02 02:38] jamieschmid opened #189 "Generating multiple stylesheets on save"
**Is your feature request related to a problem? Please describe.**
Since WP introduced the block editor, there is now a need to carry frontend styles into the admin. However, since we don't want to style ALL of the admin controls and just the editor, this requires generating a separate stylesheet where you are able to include/exclude certain styles which may cause issues in the admin.

**Describe

[2020-09-26 16:51] ahmadawais commented on #188
I'm looking into this as a solution that does the following:

- Allows you to zip the directory
- Define the path where the zip is placed afterward
- Define things to ignore in the zip file

Is that it?

[2020-10-25 10:51] ahmadawais commented on #188
Finally got some time to do this:

New configurable zip settings https://github.com/ahmadawais/WPGulp/blob/master/WPGulp/wpgulp.config.js#L79-L110

V3 Release notes: https://github.com/ahmadawais/WPGulp/releases/tag/3.0.0

Major refactor and also updated the demo [WPGulpTheme](https://github.com/ahmadawais/WPGulpTheme)

Please test it and enjoy the v3 release.

[2020-10-25 10:51] #188 closed

[2020-10-27 14:36] DarkChris86 opened #194 "WPGulp update failed ( 404 error )"
### Bug Report

### Expected Behavior

Update existing workflow.

(Write what you thought would happen.)

### Actual Behavior
After run npx install-wpgulp I got this:
GotError [HTTPError]: Response code 404 (Not Found)
    at EventEmitter.<anonymous> (C:\Users\...\AppData\Roaming\npm-cache\_npx\1976\node_modules\install-wpgulp\node_modules\got\index.js:482:24)
    at EventEmitter.emit (events.js:3

[2020-10-29 17:08] lopezs commented on #188
Hi @ahmadawais thank you for your work on this, but I'm not sure how to run a task to do it.

I don't see anywhere in the source code where zip related settings are actually referenced.

[2020-11-02 00:47] DeoThemes commented on #194
Something is wrong with the latest release. There is supposed to be Gulp Zip task, but it's never defined in the [gulpfile.babel,js](https://github.com/ahmadawais/WPGulp/blob/master/WPGulp/gulpfile.babel.js)

[2020-11-02 17:49] DarkChris86 commented on #194
Okay I found out.

The _npx install-wpgulp_ no more works.
It should be only this: **npx wpgulp** and now works fine.

[2020-11-02 18:53] jmccall75 commented on #189
I'd love to see this too.

[2020-11-07 04:14] sstruemph commented on #130
I am interested in helping resolve this bug. I use WPGulp on a daily basis and have tried following the suggestions here and the only fix basically breaks Autoprefixer. Unless I am not understanding and there's a workaround for Autoprifixer?

I tried re-writing the CSS task to troubleshoot and it quickly became a rabbit hole. Several packages needed to be added and swapped out. A new autoprefixer

[2020-11-09 19:08] DarkChris86 opened #195 "Node 14+ support problems"

[2020-11-09 19:19] #195 closed

[2020-11-10 12:06] redtux commented on #139
I installed `@babel/register` (alongside the older `babel-register` package that is being used by WPGulp), and everything seems to work fine.

[2020-11-10 16:50] redtux opened #196 "Licensing issue – MIT or GPLv2?"
Thank you for this awesome project! :heart_eyes:

I see you are committing a lot lately, so I am curious to test your changes soon (e.g. the zip task). :tada:

Just one question regarding WPGulp's current license: Is the code subject to MIT or GPLv2?

GitHub and the [license.md](https://github.com/ahmadawais/WPGulp/blob/master/license.md) file say it is released under the GPLv2, while the [readme.

[2020-11-10 17:19] redtux commented on #139
@hhasan16 & @max-cmoa: Could you provide a link to a WP theme plus corresponding `package.json` and `wpgulp.config.js` files, please?

It seems I can reproduce this bug. What versions of node and npm are you using?

[2020-11-10 21:01] max-cmoa commented on #139
This was a long time ago. I forgot about this. I am not running into this issue anymore. For you information I am using:
node v10.21.0
npm 6.14.4

I can't link to the theme I am using, because it is proprietary. My apologies for this.

[2020-11-12 15:46] mat-cat commented on #139
hello,
i'm testing the wpgulp workflow and i have the babel/register requiring bug. I'm using the last node and npm version.
tried to re install @babel/register but it still doesn't work

any new idea ?

thanks !!! ( great job )

[2020-11-12 15:55] max-cmoa commented on #139
@mat-cat Did you try to delete your node_modules directory and reinstall them?

[2020-11-13 08:52] mat-cat commented on #139
Yop,
I did but same error

[2020-11-13 11:08] redtux commented on #139
Hi @mat-cat ! Maybe using 'nvm' and trying node v10 instead of v12 or v14 helps. When I run e.g. 'npm run translate' I get the message that @babel/register is required (which is newer), while babel-register (the older package) is required when just running 'rulp translate' (or any other task). You could also try to globally upgrade gulp, but I am not sure if this will work, as the drepcated gulp-u

[2020-11-20 19:46] marcinkrzeminski opened #197 "Zip task is missing?"
## Bug Report

I'm getting an error while trying to run the `npm run zip` task. It looks like the task is not defined at all in the `gulpfile.babel.js`. Am I missing something here?

### Expected Behavior

Based on the documentation and config file it should create a `theme.zip` file.

### Actual Behavior

Gulp / Node throws an error

### Steps to Reproduce

Just try to run `npm run zip` or `gulp

[2020-11-21 11:26] ahmadawais commented on #197
Whaaaat? How the heck did I miss that. Where did the code go? I remember writing the function but it's not there lol. Thanks for the report. I just codded it again.

🔗 https://github.com/ahmadawais/WPGulp/releases/tag/3.1.0
🔗 https://www.npmjs.com/package/wpgulp

[2020-11-21 11:26] #197 closed

[2020-11-21 11:31] ahmadawais commented on #196
Fixed to MIT.

[2020-11-21 11:31] #196 closed

[2020-11-21 11:32] ahmadawais commented on #187
Updated.

[2020-11-21 11:32] #187 closed

[2020-11-21 11:33] #61 closed

[2020-12-01 16:22] marcinkrzeminski opened #198 "Bundler integration"
**Is your feature request related to a problem? Please describe.**
It would be great to have a bundler integrated.

**Describe the solution you'd like**
Integrate one of the popular bundle.

[2021-01-08 03:26] grayayer commented on #130
As AntonKeller wrote

By passing false to includeContent, you're telling the sourcemaps to use the original files.

According to the gulp-sourcemaps documentation  "Including the content is the recommended way, because it "just works". When setting this to false you have to host the source files and set the correct sourceRoot."

Since wpgulp isn't including a sourceRoot value, then of course this

[2021-01-15 23:21] chstappert commented on #176
It's still an issue:
BigSur 11.1
npm -v 6.14
node -v 14.15.4

[2021-01-16 21:03] chstappert commented on #176
Got it running. The "const watchStyles" wasn't correctly set. Now it works perfectly! Great tool.

[2021-02-08 03:02] DeoThemes commented on #198
Yes, Webpack is a must nowadays :)

[2021-02-12 17:04] mware opened #200 "Failing on initial build after install"
## Bug Report

### Expected Behavior

I've been using WPGulp on several projects for a few years now and love it. But on the last 3 installs this week, early February 2021, the initial build fails, noting a fail in the start script.
I run `npx wpgulp`
adjust wpgulp.config.js to my particulars
then run `npm start`
Files don't compile. Get a debug log file explaining the errors. See below.

(Write w

[2021-02-15 04:09] ahmadawais commented on #200
Hi @mware, you are using an old and unsupported version of Node.js. I recommend that you update your node version, which may be the cause here. At least use the LTS version.

If you sign up on NodeCLI.com (free signup at the top), you'll get an email for the first 12 free videos; in these videos, I teach installing Node.js and its different versions to keep up using a script called `n`. That shoul

[2021-02-15 13:46] mware commented on #200
Face palm.
Thanks @ahmadawais . That worked.

[2021-02-15 13:46] #200 closed, assigned to nobody

[2021-02-16 17:16] jvanstone commented on #176
What did you change it too??

[2021-02-17 02:23] grayayer commented on #200
I'm having the same problem. What version should we be using of Node?

[2021-02-17 07:15] ahmadawais commented on #200
The active or maintenance LTS version should work. Watch this video I made https://nodecli.com/n

[2021-02-20 12:48] Sam-Xronn opened #201 "Apple Silicone M1 error with Node Sass"
Looks like Node Sass doesn't compile with WPGulp, even when running the terminal under rosetta d oyou have any steps to resolve this issue? Or is it a case of just waiting for third parties to update?

![Screenshot 2021-02-20 at 12 46 59](https://user-images.githubusercontent.com/21875066/108595864-e11ddd80-7379-11eb-944d-381f81621071.png)

[2021-02-20 17:09] Sam-Xronn commented on #201
Resolved -

For anyone else on the Google train after getting a new mac with the M1 chip.

- Set you're terminal to rosetta mode
- Restart your terminal
- Clear your local project from any legacy gulp/npm files
- Download the new files or in WP Gulp case using `npx wpgulp`

[2021-02-20 17:10] #201 closed, assigned to nobody

[2021-04-25 16:36] Web-Assembler commented on #176
@jvanstone The fix mentioned by @chstappert worked for me. The watchStyles was set to `const watchStyles = './assets/css/**/*.scss';` whereas I'm putting all my scss files inside assets/scss so I simply changed it to `const watchStyles = './assets/scss/**/*.scss';` Thanks!

[2021-04-26 11:14] jvanstone commented on #176
@Web-Assembler thanks the response.  I was able to get it to work too.  Thanks!

[2021-05-14 08:54] alirexa commented on #130
This bug still exists and fix from @antonkeller worked for me as well!
@ahmadawais I will make a PR for this soon!

[2021-05-30 17:51] rokobuljan opened #203 "Unused @babel/register"
https://github.com/ahmadawais/WPGulp/blob/ea1bb08ed3664bbee56d300ae4c80086bb68c4a4/WPGulp/package.json#L9

Why this dependency if unused?

[2021-08-18 17:15] seanrasmussen opened #204 "node-sass not compatible with newer versions of node, such as 14 and 16"
## Bug Report
I installed node version 14.17.5 (using nvm) and the wpgulp script does not complete a build uisng "npm start" anymore. Error: Cannot find module 'fs/promises' .

Apparently node-sass is deprecated and incompatible with the latest node versions.

### Expected Behavior
Expected the script to complete.

### Actual Behavior

Script produces error.

### Steps to Reproduce

1. switch to n

[2021-11-05 10:51] kossahl opened #205 "Browsersync injects wrong files when multiple style.css are linked in the html"
## Bug Report

### Expected Behavior

My style source is configured as
`const styleSRC = './assets/scss/style.scss';`

Thus I expect Browsersync to inject the `wp-content/theme/my-theme/style.css` (or style.min.css).

### Actual Behavior

Instead Browsersync will inject `wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css` or any other file named the samed whichever is first

[2021-11-22 21:42] jdoubleya1 commented on #204
+1 on this. It's unusable on newer versions of node/npm.

[2021-11-22 22:00] seanrasmussen commented on #204
I managed to get the gulp setup working with more recent node versions by updating to the latest gulp-sass, and by adding sass as a dependency, as outlined in the gulp-sass docs, like so:

`var sass = require('gulp-sass')(require('sass'));
`
See the section "Migrating to version 5" [https://www.npmjs.com/package/gulp-sass](url)

[2021-12-06 13:17] jeffceriello commented on #158
Same issue here. Since I've moved to a M1 silicon mac Gulp doesn't look for changes anymore

[2021-12-06 13:48] jeffceriello commented on #201
Hi, I have tried that and it now works but have you found that wpgulp now compiles reeeeally slow on the M1 silicon? If yes, do you have any idea why that would be happening?

[2021-12-06 14:42] jeffceriello commented on #204
Hi @seanrasmussen, could you please let me know what you did exactly to make it work? I am using node version 17.0.1, gulp-sass version 7.0.0 but when I then run npm install I still get a command failed on node-sass. Thanks

[2021-12-06 16:13] seanrasmussen commented on #204
Hi @jeffceriello

If you're getting a node-sass error, that's because the new version of gulp-sass doesn't include node-sass anymore. What you want to do is swap out node-sass, for plain  ol' sass.

Update your gulp-sass to the latest stable version.

Add sass to your project:
`npm install sass --save
`
then change the line where you require sass in gulpfile.babel.js
FROM

`const sass = require('g

[2021-12-06 16:47] jeffceriello commented on #204
Hi @seanrasmussen that's all clear, thank you so much for this really exhaustive answer!

[2022-03-17 14:19] Harry-Cowshed commented on #130
Any one find an alt fix? @tony-keller fix didn't work for me.

[2022-04-19 07:50] elliottmangham opened #207 "Error running `npx wpgulp` (Windows)"
Hello,

I have been trying to get past the first step, but running `npx wpgulp` (on Windows) just results in a barrage of errors for me.

(I am more than happy to pay for the time to provide support / or cover the cost of an hour's maintenance).

Please find the first screenshot of running the command, followed by two screenshots of errors:

![image](https://user-images.githubusercontent.com/12933

[2022-04-19 08:04] elliottmangham commented on #207
I just tried uninstalling Node and reinstalling the LTS version 16.14.2, but it results in the same errors.

[2022-04-19 08:08] elliottmangham commented on #112
Hello, I seem to be having this issue (https://github.com/ahmadawais/WPGulp/issues/207).

I tried running `npx wpgulp`  and then after it fails, running `npm install`, but this also errors.

- npm @ 8.5.0
- node @ 16.14.2

Would really love any help, thank you

[2022-04-21 07:16] elliottmangham commented on #112
Here's a screen of running `npm install` after `npx wpgulp`, where you can see it failing:
![image](https://user-images.githubusercontent.com/12933804/164396299-ff0e9cbf-9f11-416b-b106-7a2e6ba3e2cd.png)

Would be happy to pay for support on this, as I'd love to get WPGulp working - assuming it is still maintained anyway.

Thanks!

[2022-04-21 09:13] ahmadawais commented on #112
Honestly, I haven't had much time lately to support this project for free. Will see if I can set some time aside if I get some support — with everything going on atm. Thank you! 🙌

[2022-04-21 09:27] elliottmangham commented on #112
Thanks so much @ahmadawais, it's appreciated greatly. And as I said, I'm happy to pay for the [Paddle contribution](https://pay.paddle.com/checkout/515568).

[2022-04-21 11:01] Maryanos commented on #207
I have the same errors, well... smilar, but even more. I've uninstalled all node modules, deleted all .json files and started fresh so:
[code]
Bur nothing good is happening apart of errors and lot of deprecated packages warnings, is this tool still a good way to go in 2022 for WordPress development?
I was using @wordpress/scripts before to bundle my files and all was working fine.
Anyone have solv

[2022-04-25 22:36] elliottmangham commented on #112
Hey, so I decided to buy a brand-new Mac and attempt to get WPGulp running, since I had issues on my Windows machine.  Unfortunately, I seem to have similar issues on this also (MacBook Pro 2021 model with M1 Pro chip) as well.

Below is my error log after running `npx wpgulp`:
[log.txt](https://github.com/ahmadawais/WPGulp/files/8558421/log.txt)

Would love some help and insight, thank you.

[2022-04-26 20:35] ahmadawais commented on #112
@ahmadbilaldev an excellent opportunity to contribute.

[2022-04-28 13:32] shawnstom523 commented on #204
I tried updating to sass from gulp-sass per your recommendation and I still get the node-sass error

[2022-06-13 22:32] parfilov commented on #207
Same issue on MacOS.
First tried on 16.15.1 LTS then uninstalled it and installed 18.3.0 — no result.

[2022-06-14 08:23] elliottmangham commented on #207
I have both macOS and Windows and can't get it to work on either, just resorted to my own Gulp.js config for the time-being, but would've loved to switch over to WP Gulp.

[2022-06-14 18:07] datalooper commented on #130
This maybe a bonehead move, but during development, I changed my functions.php to enqueue the pre-minified style.css and it worked.
		wp_enqueue_style( 'styles', MY_THEME_URL . '/style.css', array(), MY_THEME_VER, 'all' );
I'll have to just change it back to minified for production.
Is there any reason the gulp file specifies the minification step after the sourcemap? It seems to mess things up.

[2022-06-30 22:29] rawsta commented on #207
Not sure, if it is related, but nobody mentioned it.
It's just a guess, but all the errors about missing Python (like: Error: Can't find Python executable "python", you can set the PYTHON env variable.) may suggest, that Python is missing.

IIRC, gyp is a python script, that helps NPM on Windows to work.

Have you python installed?

[2022-06-30 22:37] Maryanos commented on #207
No actually I did not had Python installed that time and this could be the reason so thanks for pointing that out, but I have decided to not use the Gulp and invest my time in webpack.

[2022-07-05 19:02] WiseArts commented on #207
I was able to get it to work by uninstalling gulp-sass and replacing it with gulp-dart-sass (there may be other sass modules that would work as well). (don't forget to update the require line in the gulpfile too)

[2022-07-22 20:11] ChrisWeiser commented on #207
Awais's build uses Python2, so you have to configure that first.

I'd prefer not to get my hands dirty with different versions of Python so I'm looking for simpler solutions.

[2022-07-22 21:45] jallen9674 commented on #207
Try using `nvm`, and node `14.15.3` (Or whatever the best version is there.) Works for me!

[2022-09-29 15:14] wkjones commented on #207
Hopefully someone finds this helpful in the feature... I believe the issue is being caused by node-sass. I followed the recommendations from @WiseArts.  But thought I would break it down more fully for those like me!

1. Ran npx wpgulp - got the error message. Came to Github found this issue.
2. Ran npm uninstall gulp-sass
3. Ran npm install gulp-dart-sass --save-dev
4. Updated the const in gulpfi

[2022-09-29 15:18] WiseArts commented on #207
Thank you @wkjones, glad you got it going. Hope your project goes well! 🎉

[2022-11-13 15:57] ElvarP opened #208 "How to add tailwindcss support?"
Could someone point me to the direction where i can figure out how to implement tailwindcss? Sorry if this is not the right place to ask.